{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<style>
.site-header{
    z-index: 30;
    background: #F8F7F2;
    position: fixed;
	width: 1800px;
    justify-content: space-between;
    left: 90px;
    top: 40px;
}
.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 320px;
}
.panel-search {
	width: 1200px;
	margin-left: 60px;
	margin-top: 40px;
}
.panel-search field_title {
    height: 20px;
}
.table-yougo {
	overflow-x: scroll;
    overflow-y: hidden;
	width: 1720px;
}
thead, tbody {
  display: block;
}
tbody {
  overflow-x: hidden;
}
.sort-button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    overflow:visible;
    cursor:pointer;
    font-size:8px;
}
.sty_list_count {
    width: 60%;
}
	</style>
{% endblock %}

{% block contents %}
<form class="form-horizontal" enctype='multipart/form-data' method='POST'  autocomplete="off" novalidate>
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<div class="form-horizontal" id="form_mainterm">
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.term_id'|trans }}</label>
							<label class="col-sm-1">{{ yougo.termId }}</label>
							<label class="col-sm-1">{{ 'text.yougo.curriculum'|trans }}</label>
							<div class="col-sm-2">
								<select class="form-control js-cur input-sm" name="curriculum">
									<option value="0">--------------</option>
									{% for cur in cur_list %}
										<option value="{{ cur.id }}" {{ cur.id == curriculum ? " selected " : '' }}">{{ cur.name }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.version'|trans }}</label>
							<div class="col-sm-2">
								<select class="form-control js-han input-sm" name="version" disabled>
									<option value="0">--------------</option>
									{% for ver in ver_list %}
										<option value="{{ ver.id }}" {{ ver.id == version ? " selected " : '' }}">{{ ver.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.head.hen'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-hen input-sm" name="hen">
									<option value="0">--------------</option>
									{% for hen in hen_list %}
										<option value="{{ hen.hen }}" {{ hen.hen == select_hen ? " selected " : '' }}">{{ hen.name }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.head.sho'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-sho input-sm" name="sho" disabled>
									<option value="0">--------------</option>
									{% for sho in sho_list %}
										<option value="{{ sho.sho }}" {{ sho.sho == select_sho ? " selected " : '' }}">{{ sho.name }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.head.dai'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-dai input-sm" name="dai" disabled>
									<option value="0">--------------</option>
									{% for dai in dai_list %}
										<option value="{{ dai.dai }}" {{ dai.dai == select_dai ? " selected " : '' }}">{{ dai.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.head.chu'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-chu input-sm" name="chu" disabled>
									<option value="0">--------------</option>
									{% for chu in chu_list %}
										<option value="{{ chu.chu }}" {{ chu.chu == select_chu ? " selected " : '' }}">{{ chu.name }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.head.ko'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-ko input-sm" name="ko" disabled>
									<option value="0">--------------</option>
									{% for ko in ko_list %}
										<option value="{{ ko.ko }}" {{ ko.ko == select_ko ? " selected " : '' }}">{{ ko.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="col-lg-6">
								<table class="table table-responsive table-striped">
									<tr>
										<td>
											<div id="formsort">
												<select class="form-control" name="s2" size="5" multiple="multiple" onchange="buttonStyle(this)" id="SEL">
												{% for print_order_term in print_order_list %}
													<option value="{{ print_order_term.termId }}" {{ print_order_term.termId == term_id ? " selected " : " disabled " }}">{{ print_order_term.mainTerm }}</option>
												{% endfor %}
												</select>
											</div>
										</td>
										<td>
											<input type="button" value="10件上に" id="UPBUTTON10" onclick="optionMove(-10,'')"><br />
											<input type="button" value="上に" id="UPBUTTON" onclick="optionMove(-1,'')"><br />
											<input type="button" value="下に" id="DOWNBUTTON" onclick="optionMove(1,'')"><br />
											<input type="button" value="10件下に" id="DOWNBUTTON10" onclick="optionMove(10,'')"><br />
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.main.term'|trans }}</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" name="main_term" value="{{ yougo.mainTerm }}">
							</div>
							<label class="col-sm-1">{{ 'text.yougo.red_letter'|trans }}</label>
							<div class="col-sm-1">
								<input type="checkbox" name="red_letter[]" {{ (yougo.redLetter == '1') ? ' checked ' : '' }}>
							</div>
							<div class="col-sm-1">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.freq.text'|trans }}</label>
							<div class="col-sm-1">
								<input type="text" class="form-control input-sm js-text-freq" name="text_freq" value="{{ yougo.textFrequency }}">
							</div>
							<div class="col-sm-1">
								<div id="{{ 'text_rank'~yougo.termId }}" value=""><div id="text_rank"></div></div>
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn btn-primary btn-sm js-center-target" term-id="{{ yougo.termId }}" yougo-flag="1" data-toggle="modal" center-target="#centerModal">{{ 'text.yougo.freq.center'|trans }}</button>
							</div>
							<div class="col-sm-1">
								<div id="{{ 'center_freq'~yougo.termId }}" value=""><div id="center_freq">{{ yougo.centerFrequency }}</div></div>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.news.exam'|trans }}</label>
							<div class="col-sm-2">
								<input type="checkbox" name="news_exam[]" {{ (yougo.newsExam == '1') ? ' checked ' : '' }}>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.delimiter'|trans }}</label>
							<div class="col-sm-1">
								<select class="form-control input-sm" name="delimiter">
									<option value="0">なし</option>
									<option value="1" {{ yougo.delimiter == 'と' ? " selected " : '' }}">と</option>
									<option value="2" {{ yougo.delimiter == '，' ? " selected " : '' }}">，</option>
									<option value="3" {{ yougo.delimiter == '・' ? " selected " : '' }}">・</option>
									<option value="4" {{ yougo.delimiter == '／' ? " selected " : '' }}">／</option>
									<option value="5" {{ yougo.delimiter == '（' ? " selected " : '' }}">（</option>
									<option value="6" {{ yougo.delimiter == '）' ? " selected " : '' }}">）</option>
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.western_language'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="western_language" value="{{ yougo.westernLanguage }}">
							</div>
							<label class="col-sm-1">{{ 'text.yougo.birth_year'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="birth_year" value="{{ yougo.birthYear }}">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.kana'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="kana" value="{{ yougo.kana }}">
							</div>
							<label class="col-sm-1">{{ 'text.yougo.index_add_letter'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="index_add_letter" value="{{ yougo.indexAddLetter }}">
							</div>
							<label class="col-sm-1">{{ 'text.yougo.index_kana'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="index_kana" value="{{ yougo.indexKana }}">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.index_original_kana'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="index_original_kana" value="{{ yougo.indexOriginalKana }}">
							</div>
							<label class="col-sm-1">{{ 'text.yougo.index_original'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="index_original" value="{{ yougo.indexOriginal }}">
							</div>
							<label class="col-sm-1">{{ 'text.yougo.index_abbreviation'|trans }}</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" name="index_abbreviation" value="{{ yougo.indexAbbreviation }}">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.nombre'|trans }}</label>
							<label class="col-sm-1">{{ yougo.nombre }}</label>
							<label class="col-sm-1">{{ 'text.yougo.nombre.bold'|trans }}</label>
							<div class="col-sm-2">
								<input type="checkbox" name="nombre.bold[]">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.term_explain'|trans }}</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="term_explain" name="term_explain">{{ yougo.termExplain }}</textarea>
							</div>
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary btn-sm js-explain-target" main-term-id="{{ yougo.mainTerm }}" data-toggle="modal" area-target="#explainModal">{{ 'text.yougo.term_explain'|trans }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<!-- サブ用語 -->
				<div id="form_subterms">
				</div>
				<button type="button" class="btn btn-primary btn-sm" id="addForm">{{ 'btn.add.subterm'|trans }}</button>
				<button type="button" class="btn btn-primary btn-sm" id="removeForm">{{ 'btn.remove.subterm'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<!-- 同対類用語 -->
				<div id="form_synterms">
				</div>
				<button type="button" class="btn btn-primary btn-sm" id="addFormSyn">{{ 'btn.add.synterm'|trans }}</button>
				<button type="button" class="btn btn-primary btn-sm" id="removeFormSyn">{{ 'btn.remove.synterm'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<!-- 指矢印用語 -->
				<div id="form_refterms">
				</div>
				<button type="button" class="btn btn-primary btn-sm" id="addFormRef">{{ 'btn.add.refterm'|trans }}</button>
				<button type="button" class="btn btn-primary btn-sm" id="removeFormRef">{{ 'btn.remove.refterm'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<div class="form-horizontal" id="form_illust">
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-2">{{ 'text.yougo.illust_filename'|trans }}</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" name="illust_filename" value="{{ yougo.illustFilename }}">
							</div>
							<label class="col-sm-2">{{ 'text.yougo.illust_caption'|trans }}</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" name="illust_caption" value="{{ yougo.illustCaption }}">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-2">{{ 'text.yougo.illust_kana'|trans }}</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" name="illust_kana" value="{{ yougo.illustKana }}">
							</div>
							<label class="col-sm-2">{{ 'text.yougo.illust_nombre'|trans }}</label>
							<label class="col-sm-1">{{ yougo.illustNombre }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<div class="form-horizontal" id="form_handover">
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.handover'|trans }}</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="handover" name="handover">{{ yougo.handover }}</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="text-center">
			<button type="button" class="btn btn-primary js-yougo-submit">{{ 'btn.submit'|trans }}</button>
		</div>
	</div>
</div>
</form>

<div class="content">

<div class="row">
	<div class="col-lg-12">
	</div>
</div>

</div>

<!-- サブ画面 -->
<div class="modal fade" id="centerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				センター頻度追加
			</div>
			<div id="term_id"></div>
			<div id="formcenter" class="modal-body">
			</div>
			<div class="modal-footer">
					<div class="text-center">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.cancel'|trans }}</button>
						<button type="button" class="btn btn-primary js-center-submit">{{ 'btn.submit'|trans }}</button>
						<button type="button" class="btn btn-danger js-area-delete">{{ 'btn.delete'|trans }}</button>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="explainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				解説内さくいん用語設定
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<label class="col-sm-2">用語</label>
						<label class="col-sm-4">さくいん読み仮名</label>
						<label class="col-sm-4">さくいん時追加文字</label>
						<label class="col-sm-2">ノンブル</label>
					</div>
				</div>
				<div class="row">
					<div id="formindex"></div>
				</div>
				<hr>
			</div>
			<div class="modal-footer">
					<div class="text-center">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.cancel'|trans }}</button>
						<button type="button" class="btn btn-primary js-explain-submit">{{ 'btn.submit'|trans }}</button>
						<button type="button" class="btn btn-danger js-area-delete">{{ 'btn.delete'|trans }}</button>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

		// 掲載順リスト
		function buttonStyle(O){
			var UpButton = document.getElementById('UPBUTTON');
			var DownButton = document.getElementById('DOWNBUTTON');
			var UpButton10 = document.getElementById('UPBUTTON10');
			var DownButton10 = document.getElementById('DOWNBUTTON10');
			for(var i=0;i<O.options.length;i++){
				if(O.options[i].selected){
					if(i!=0) UpButton.disabled = false;
					else UpButton.disabled = true;
					if(i!=(O.options.length-1)) DownButton.disabled = false;
					else DownButton.disabled = true;

					if(O.options.selectedIndex+10<O.options.length){
						DownButton10.disabled = false;
					}else{
						DownButton10.disabled = true;
					}

					if(O.options.selectedIndex+1-10>0){
						UpButton10.disabled = false;
					}else{
						UpButton10.disabled = true;
					}
				}
			}
		}
		function optionMove(MODE,idx) {
			var O = document.getElementById('SEL'+idx);
			for(var i=0;i<O.options.length;i++)
			if(O.options[i].selected) break;
			var tmpOption = O.removeChild(O.options[i]);
			O.insertBefore(tmpOption,O.options[i+MODE])

			buttonStyle(O);
		}

		// 教科書頻度
		$('.js-text-freq').bind('keydown keyup keypress change', function () {

			getTextPoint($(this).val(),"{{ yougo.termId }}");

		});

		// センター頻度
		$(".js-center-target").bind('click', function(e){

			getCenterPoint(e);

		});

		$('.js-center-submit').bind('click', function(e){
			var center_cnt = 0;
			var point_list = $('input[id^="main"],input[id^="sub"]');
			for(var i in point_list){
				console.log(point_list[i].value);
				if(point_list[i].value !== void 0){center_cnt += Number(point_list[i].value);}
			}

			var term_id = $('#term_id').val();

			$('#center_freq' + term_id + ' #center_freq').text(center_cnt);
			$('#center_freq' + term_id + ' input:hidden[name="center_freq_text"]').val(center_cnt);

			$('#centerModal').modal('hide');
		});

		// 解説内さくいん用語
		$(".js-explain-target").bind('click', function(e){
			// get target
			var target = $(e.currentTarget);
			var main_term_id = target.attr('main-term-id');

			// さくいん用語タグで囲まれた用語を抽出
			var match_regex = /(?<=\《c_SAK》).*?(?=\《\/c_SAK》)/g;
			var match_chr = '';
			var term_explain = $('#term_explain').val();

			match_chr = term_explain.match(match_regex);
			if(match_chr){
				console.log(match_chr);

				for(var i=0; i<match_chr.length; i++){
					$('#formindex').append(
							'<div class="col-lg-12">'
							+'<label class="col-sm-2">'+ match_chr[i] + '</label>'
							+'<div class="col-sm-4"><input class="form-control input-sm" type="text" name="index_kana" value=""></div>'
							+'<div class="col-sm-4"><input class="form-control input-sm" type="text" name="index_add_letter" value=""></div>'
							+'<div class="col-sm-2"><input class="form-control input-sm" type="text" name="nombre" value=""></div>'
							+'</div>');
				}


			}

			$('#explainModal').modal();
		});

		// 用語登録
		$('.js-yougo-submit').bind('click', function(e){
			var mainterm = $('#form_mainterm [name=main_term]').val();

			var sub_term = [];
			var form_mainterm = $('#form_subterm [name=center_freq_text]');
			form_mainterm.each(function() {
				var val_sub_term = $(this).val();
				sub_term.push(val_sub_term);
			});

			// create form
			$('<form>', {
				"id": "maintermForm",
				"html":  "<input type='hidden' name='add_main_term' value='" + mainterm + "'>"
				+ "<input type='hidden' name='add_sub_term' value='" + sub_term + "'>",
				"action": "{{ path('client.yougo.edit', {'term_id': yougo.termId}) }}",
				"method": "POST"
			}).appendTo(document.body).submit();
		});

		function constructSubForm(record){
			var html =
			'<div id="form_subterm" class="form-horizontal">'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.sub_term"|trans }}</label>'
			+'<div class="col-sm-3"><input class="form-control input-sm" type="text" name="sub_term" value="' + ((record) ? record.sub_term : '') + '"></div>'
			+'<label class="col-sm-1">{{ "text.yougo.red_letter"|trans }}</label>'
			+'<div class="col-sm-1"><input type="checkbox" name="red_letter[]" ' + (((record)&&(record.red_letter == '1')) ? ' checked ' : '') + '></div>'
			+'<label class="col-sm-1">{{ "text.yougo.yomigana"|trans }}</label>'
			+'<div class="col-sm-3"><input class="form-control input-sm" type="text" name="kana" value="' + (((record)&&(record.kana)) ? record.kana : '') + '"></div>'
			+'</div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.delimiter_kana"|trans }}</label>'
			+'<div class="col-sm-1"><select class="form-control input-sm" name="delimiter_kana">'
					+'<option value="0">なし</option>';

			html += '<option value="1" ' + (((record)&&(record.delimiter_kana == 'と')) ? ' selected ' : '') + '>と</option>'
			+'<option value="2" ' + (((record)&&(record.delimiter_kana == '，')) ? ' selected ' : '') + '>，</option>'
			+'<option value="3" ' + (((record)&&(record.delimiter_kana == '・')) ? ' selected ' : '') + '>・</option>'
			+'<option value="4" ' + (((record)&&(record.delimiter_kana == '／')) ? ' selected ' : '') + '>／</option>'
			+'<option value="5" ' + (((record)&&(record.delimiter_kana == '（')) ? ' selected ' : '') + '>（</option>'
			+'<option value="6" ' + (((record)&&(record.delimiter_kana == '）')) ? ' selected ' : '') + '>）</option>'
			+'<option value="7" ' + (((record)&&(record.delimiter_kana == '）（')) ? ' selected ' : '') + '>）（</option>';

			html += '</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.freq.text"|trans }}</label>'
			+'<div class="col-sm-1"><input type="text" class="form-control input-sm js-text-freq2" term-id="' + ((record) ? record.id : '') + '" name="text_freq" value="' + ((record) ? record.text_frequency : '') + '"></div>'
			+'<div class="col-sm-1"><div id="' + 'text_rank' + ((record) ? record.id : '') + '" value=""><div id="text_rank"></div></div></div>'
			+'<div class="col-sm-1"><button type="button" class="btn btn-primary btn-sm js-center-target2" term-id="' + ((record) ? record.id : '') + '" yougo-flag="2" data-toggle="modal" center-target="#centerModal">{{ "text.yougo.freq.center"|trans }}</button></div>'
			+'<div class="col-sm-1"><div id="' + 'center_freq' + ((record) ? record.id : '') + '" value=""><div id="center_freq" value="">' + ((record) ? record.center_frequency : '') + '</div><input type="hidden" name="center_freq_text" value="test"></div></div>'
			+'<label class="col-sm-1">{{ "text.yougo.news.exam"|trans }}</label>'
			+'<div class="col-sm-2"><input type="checkbox" name="news_exam[]" ' + (((record)&&(record.news_exam == '1')) ? ' checked ' : '') + '></div>'
			+'</div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.delimiter"|trans }}</label>'
			+'<div class="col-sm-1"><select class="form-control input-sm" name="delimiter">'
					+'<option value="0">なし</option>';

			html += '<option value="1" ' + (((record)&&(record.delimiter == 'と')) ? ' selected ' : '') + '>と</option>'
			+'<option value="2" ' + (((record)&&(record.delimiter == '，')) ? ' selected ' : '') + '>，</option>'
			+'<option value="3" ' + (((record)&&(record.delimiter == '・')) ? ' selected ' : '') + '>・</option>'
			+'<option value="4" ' + (((record)&&(record.delimiter == '／')) ? ' selected ' : '') + '>／</option>'
			+'<option value="5" ' + (((record)&&(record.delimiter == '（')) ? ' selected ' : '') + '>（</option>'
			+'<option value="6" ' + (((record)&&(record.delimiter == '）')) ? ' selected ' : '') + '>）</option>';

			html += '</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.index_add_letter"|trans }}</label>'
			+'<div class="col-sm-1"><input type="text" class="form-control input-sm" name="index_add_letter" value="' + (((record)&&(record.index_add_letter)) ? record.index_add_letter : '') + '"></div>'
			+'<label class="col-sm-1">{{ "text.yougo.index_kana"|trans }}</label>'
			+'<div class="col-sm-3"><input type="text" class="form-control input-sm" name="index_kana" value="' + (((record)&&(record.index_kana)) ? record.index_kana : '') + '"></div>'
			+'</div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.nombre"|trans }}</label>'
			+'<label class="col-sm-1">{{ "' + ((record) ? record.nombre : '') + '" }}</label>'
			+'<div class="col-sm-1"><button type="button" class="btn btn-primary btn-sm js-sub-remove">{{ "btn.remove.subterm"|trans }}</button></div>'
			+'</div></div><hr></div>';
			return html;
		}

		function constructSynForm(record){
			var html =
			'<div id="form_synterm" class="form-horizontal">'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.icon"|trans }}</label>'
			+'<div class="col-sm-1"><select class="form-control input-sm" name="synonym_id">'
			+'<option value="1" ' + (((record)&&(record.synonym_id == '1')) ? ' selected ' : '') + '>同</option>'
			+'<option value="2" ' + (((record)&&(record.synonym_id == '2')) ? ' selected ' : '') + '>対</option>'
			+'<option value="3" ' + (((record)&&(record.synonym_id == '3')) ? ' selected ' : '') + '>類</option>'
			+'</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.syn_term"|trans }}</label>'
			+'<div class="col-sm-3"><input class="form-control input-sm" type="text" name="syn_term" value="' + ((record) ? record.term : '') + '"></div>'
			+'<label class="col-sm-1">{{ "text.yougo.red_letter"|trans }}</label>'
			+'<div class="col-sm-1"><input type="checkbox" name="red_letter[]" ' + (((record)&&(record.red_letter == '1')) ? ' checked ' : '') + '></div>'
			+'</div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.freq.text"|trans }}</label>'
			+'<div class="col-sm-1"><input type="text" class="form-control input-sm js-text-freq3" term-id="' + ((record) ? record.id : '') + '" name="text_freq" value="' + ((record) ? record.text_frequency : '') + '"></div>'
			+'<div class="col-sm-1"><div id="' + 'text_rank' + ((record) ? record.id : '') + '" value=""><div id="text_rank"></div></div></div>'
			+'<div class="col-sm-1"><button type="button" class="btn btn-primary btn-sm js-center-target3" term-id="' + ((record) ? record.id : '') + '" yougo-flag="3" data-toggle="modal" center-target="#centerModal">{{ "text.yougo.freq.center"|trans }}</button></div>'
			+'<div class="col-sm-1"><div id="' + 'center_freq' + ((record) ? record.id : '') + '" value=""><div id="center_freq" value="">' + ((record) ? record.center_frequency : '') + '</div><input type="hidden" name="center_freq_text" value="test"></div></div>'
			+'<label class="col-sm-1">{{ "text.yougo.news.exam"|trans }}</label>'
			+'<div class="col-sm-2"><input type="checkbox" name="news_exam[]" ' + (((record)&&(record.news_exam == '1')) ? ' checked ' : '') + '></div>'
			+'</div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.delimiter"|trans }}</label>'
			+'<div class="col-sm-1"><select class="form-control input-sm" name="delimiter">'
					+'<option value="0">なし</option>';

			html += '<option value="1" ' + (((record)&&(record.delimiter == '　')) ? ' selected ' : '') + '>全角スペース</option>'
			+'<option value="2" ' + (((record)&&(record.delimiter == '（')) ? ' selected ' : '') + '>（</option>'
			+'<option value="3" ' + (((record)&&(record.delimiter == '）')) ? ' selected ' : '') + '>）</option>'
			+'<option value="4" ' + (((record)&&(record.delimiter == '《rtn》')) ? ' selected ' : '') + '>改行</option>'
			+'<option value="5" ' + (((record)&&(record.delimiter == '《rtn》＋（')) ? ' selected ' : '') + '>改行＋（</option>'
			+'<option value="6" ' + (((record)&&(record.delimiter == '）＋《rtn》')) ? ' selected ' : '') + '>）＋改行</option>'

			html += '</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.index_add_letter"|trans }}</label>'
			+'<div class="col-sm-1"><input type="text" class="form-control input-sm" name="index_add_letter" value="' + (((record)&&(record.index_add_letter)) ? record.index_add_letter : '') + '"></div>'
			+'<label class="col-sm-1">{{ "text.yougo.index_kana"|trans }}</label>'
			+'<div class="col-sm-3"><input type="text" class="form-control input-sm" name="index_kana" value="' + (((record)&&(record.index_kana)) ? record.index_kana : '') + '"></div>'
			+'</div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.nombre"|trans }}</label>'
			+'<label class="col-sm-1">{{ "' + ((record) ? record.nombre : '') + '" }}</label>'
			+'</div></div><hr></div>';
			return html;
		}

		function constructRefForm(record){
			var html =
			'<div id="form_refterm" class="form-horizontal">'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.head.hen"|trans }}</label>'
			+'<div class="col-sm-3"><select class="form-control js-hen input-sm" name="hen">'
				+'<option value="0">--------------</option>'
				+'{% for hen in hen_list %}'
					+'<option value="{{ hen.hen }}" {{ hen.hen == select_hen ? " selected " : '' }}">{{ hen.name }}</option>'
				+'{% endfor %}'
			+'</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.head.sho"|trans }}</label>'
			+'<div class="col-sm-3"><select class="form-control js-sho input-sm" name="sho" disabled>'
				+'<option value="0">--------------</option>'
				+'{% for sho in sho_list %}'
					+'<option value="{{ sho.sho }}" {{ sho.sho == select_sho ? " selected " : '' }}">{{ sho.name }}</option>'
				+'{% endfor %}'
			+'</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.head.dai"|trans }}</label>'
			+'<div class="col-sm-3"><select class="form-control js-dai input-sm" name="dai" disabled>'
				+'<option value="0">--------------</option>'
				+'{% for dai in dai_list %}'
					+'<option value="{{ dai.dai }}" {{ dai.dai == select_dai ? " selected " : '' }}">{{ dai.name }}</option>'
				+'{% endfor %}'
			+'</select></div></div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.head.chu"|trans }}</label>'
			+'<div class="col-sm-3"><select class="form-control js-chu input-sm" name="chu" disabled>'
				+'<option value="0">--------------</option>'
				+'{% for chu in chu_list %}'
					+'<option value="{{ chu.chu }}" {{ chu.chu == select_chu ? " selected " : '' }}">{{ chu.name }}</option>'
				+'{% endfor %}'
			+'</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.head.ko"|trans }}</label>'
			+'<div class="col-sm-3"><select class="form-control js-ko input-sm" name="ko" disabled>'
				+'<option value="0">--------------</option>'
				+'{% for ko in ko_list %}'
					+'<option value="{{ ko.ko }}" {{ ko.ko == select_ko ? " selected " : '' }}">{{ ko.name }}</option>'
				+'{% endfor %}'
			+'</select></div>'
			+'<label class="col-sm-1">{{ "text.yougo.refer_term"|trans }}</label>'
			+'<div class="col-sm-3"><select class="form-control js-term input-sm" name="ref_term" id="ref_term">'
			+'{% for refer_term in main_term_list %}'
				+'<option value="{{ refer_term.termId }}">{{ refer_term.mainTerm }}</option>'
			+'{% endfor %}'
			+'</select></div></div></div>'
			+'<div class="form-group"><div class="col-lg-12">'
			+'<label class="col-sm-1">{{ "text.yougo.nombre"|trans }}</label>'
			+'<label class="col-sm-1">{{ "' + ((record) ? record.nombre : '') + '" }}</label>'
			+'</div></div><hr></div>';
			return html;
		}

		function getTextPoint(value,term_id){
			var rank = '';
			if(value >= 6){
				rank = 'A';
			}else if((value >= 3)&&(value <= 5)){
				rank = 'B';
			}else if((value >= 1)&&(value <= 2)){
				rank = 'C';
			}
			$('#text_rank' + term_id + ' #text_rank').text(rank);
		}

		function getCenterPoint(e){
			// get target
			var target = $(e.currentTarget);
			var term_id = target.attr('term-id');
			var yougo_flag = target.attr('yougo-flag');

			$('#term_id').val(term_id);
			$('#formcenter').empty();

			// センター頻度の取得
			var data = {
				'term_id': term_id,
				'yougo_flag': yougo_flag
			};
			$.ajax({
				url: "{{ path('client.yougo.center.ajax') }}",
				data: data,
				method: 'POST',
				success: function(response){
					var html = '<div class="row"><div class="col-sm-12"><label class="col-sm-4"></label>'
					+'<label class="col-sm-4">本試</label><label class="col-sm-4">追試</label>'
					+'</div>'
					$('#formcenter').append(html);

					$.each(response, function(key, list){
						console.log(key);
						console.log(list.year);

						html = '<div class="row"><div class="col-sm-12"><label class="col-sm-4">' + list.year + '</label>'
						+'<input type="text" class="col-sm-4" id="main' + list.year + '" name="main' + list.year + '" value="' + list.mainExam + '">'
						+'<input type="text" class="col-sm-4" id="sub' + list.year + '" name="sub' + list.year + '" value="' + list.subExam + '">'
						+'</div>';

						$('#formcenter').append(html);
					});
				},
				error: function(response){
				}
			});

			$('#centerModal').modal();

		}

		$(function(){
			$(window).load(function(){
				// 掲載順リスト初期化
				buttonStyle(document.getElementById('SEL'));

				// 教科書頻度
				getTextPoint("{{ yougo.textFrequency }}","{{ yougo.termId }}");

				// サブ用語取得
				var yougo_sub = '{{ yougo_sub|json_encode|raw }}';
				console.log("**サブ用語**");
				console.log(yougo_sub);

				var yougo_sub_parse = JSON.parse(yougo_sub);
				console.log(yougo_sub_parse.length);

				var header_sub = '<div class="form-group"><div class="col-lg-12">サブ用語</div></div>';

				for(var i=0; i<yougo_sub_parse.length; i++){
					console.log(yougo_sub_parse[i].sub_term);

					if(i>0){header_sub = ''};

					$('#form_subterms').append(
						header_sub
						+ constructSubForm(yougo_sub_parse[i])
					);

					getTextPoint(yougo_sub_parse[i].text_frequency,yougo_sub_parse[i].id);

				}

				// 同対類用語取得
				var yougo_syn = '{{ yougo_syn|json_encode|raw }}';
				var yougo_syn_parse = JSON.parse(yougo_syn);
				var header_syn = '<div class="form-group"><div class="col-lg-12">同対類用語</div></div>';

				for(var i=0; i<yougo_syn_parse.length; i++){
					if(i>0){header_syn = ''};
					$('#form_synterms').append(
						header_syn
						+ constructSynForm(yougo_syn_parse[i])
					);
				}

				// 指矢印用語取得
				var yougo_ref = '{{ yougo_ref|json_encode|raw }}';
				var yougo_ref_parse = JSON.parse(yougo_ref);
				var header_ref = '<div class="form-group"><div class="col-lg-12">指矢印用語</div></div>';

				for(var i=0; i<yougo_ref_parse.length; i++){
					if(i>0){header_ref = ''};
					$('#form_refterms').append(
							header_ref
						+ constructRefForm(yougo_ref_parse[i])
					);
					$('#ref_term').val(yougo_ref_parse[i].refer_term_id);
				}

				// サブ用語　教科書頻度　イベント設定
				$(document).on("keydown keyup keypress change", ".js-text-freq2", function (e) {
					console.log("test");
					// get target
					var target = $(e.currentTarget);
					var term_id = target.attr('term-id');

					getTextPoint(e.currentTarget.value,term_id);
				});
				// サブ用語　センター頻度　イベント設定
				$(document).on("click", ".js-center-target2", function (e) {
					getCenterPoint(e);
				});
				// サブ用語　削除
				$(document).on("click", ".js-sub-remove", function (e) {
					$(this).parents('#form_subterm').remove();
				});

				// 同対類用語　教科書頻度　イベント設定
				$(document).on("keydown keyup keypress change", ".js-text-freq3", function (e) {
					// get target
					var target = $(e.currentTarget);
					var term_id = target.attr('term-id');

					getTextPoint(e.currentTarget.value,term_id);
				});
				// 同対類用語　センター頻度　イベント設定
				$(document).on("click", ".js-center-target3", function (e) {
					getCenterPoint(e);
				});

			});

			$('#addForm').click(function(){
				$('#form_subterms').append(
						constructSubForm(null)
				);
			});

			$('#removeForm').click(function(){
				$('#form_subterms #form_subterm:last-child').remove();
			});

			$('#addFormSyn').click(function(){
				$('#form_synterms').append(
						constructSynForm(null)
				);
			});

			$('#removeFormSyn').click(function(){
				$('#form_synterms #form_synterm:last-child').remove();
			});

			$('#addFormRef').click(function(){
				$('#form_refterms').append(
						constructRefForm(null)
				);
			});

			$('#removeFormRef').click(function(){
				$('#form_refterms #form_refterm:last-child').remove();
			});


			$('.js-cur').bind('change', function(){
				var selected_ver = $(this).val();
				if(selected_ver == '0'){
					$('[name="version"]').val('0');
					$('.js-han').attr("disabled", true);
				}else{
					$('.js-han').attr("disabled", false);
				}
			});

			$('.js-han').bind('change', function(){
				var selected_ver = $(this).val();
				var data = {
						'version': selected_ver
				};
				$.ajax({
					url: "{{ path('client.yougo.hen.ajax') }}",
					data: data,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response);
						injectOption('js-hen', options);
					},
					error: function(response){
					}
				});
			});

			$('.js-hen').bind('change', function(){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = $(this).val();

				if(selected_hen == '0'){
					$('[name="sho"]').val('0');
					$('.js-sho').attr("disabled", true);
				}else{
					$('.js-sho').attr("disabled", false);
				}
				$('[name="dai"]').val('0');
				$('[name="chu"]').val('0');
				$('[name="ko"]').val('0');
				$('.js-dai').attr("disabled", true);
				$('.js-chu').attr("disabled", true);
				$('.js-ko').attr("disabled", true);

				var data = {
						'version': selected_ver,
						'hen': selected_hen
				};
				$.ajax({
					url: "{{ path('client.yougo.sho.ajax') }}",
					data: data,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response);
						injectOption('js-sho', options);
					},
					error: function(response){
					}
				});
			});

			$('.js-sho').bind('change', function(){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = $('[name="hen"]').val();
				var selected_sho = $(this).val();

				if(selected_sho == '0'){
					$('[name="dai"]').val('0');
					$('.js-dai').attr("disabled", true);
				}else{
					$('.js-dai').attr("disabled", false);
				}
				$('[name="chu"]').val('0');
				$('[name="ko"]').val('0');
				$('.js-chu').attr("disabled", true);
				$('.js-ko').attr("disabled", true);

				var data = {
						'version': selected_ver,
						'hen': selected_hen,
						'sho': selected_sho
				};
				$.ajax({
					url: "{{ path('client.yougo.dai.ajax') }}",
					data: data,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response);
						injectOption('js-dai', options);
					},
					error: function(response){
					}
				});
			});

			$('.js-dai').bind('change', function(){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = $('[name="hen"]').val();
				var selected_sho = $('[name="sho"]').val();
				var selected_dai = $(this).val();

				if(selected_dai == '0'){
					$('[name="chu"]').val('0');
					$('.js-chu').attr("disabled", true);
				}else{
					$('.js-chu').attr("disabled", false);
				}
				$('[name="ko"]').val('0');
				$('.js-ko').attr("disabled", true);

				var data = {
						'version': selected_ver,
						'hen': selected_hen,
						'sho': selected_sho,
						'dai': selected_dai
				};
				$.ajax({
					url: "{{ path('client.yougo.chu.ajax') }}",
					data: data,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response);
						injectOption('js-chu', options);
					},
					error: function(response){
					}
				});
			});

			$('.js-chu').bind('change', function(){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = $('[name="hen"]').val();
				var selected_sho = $('[name="sho"]').val();
				var selected_dai = $('[name="dai"]').val();
				var selected_chu = $(this).val();

				if(selected_chu == '0'){
					$('[name="ko"]').val('0');
					$('.js-ko').attr("disabled", true);
				}else{
					$('.js-ko').attr("disabled", false);
				}

				var data = {
						'version': selected_ver,
						'hen': selected_hen,
						'sho': selected_sho,
						'dai': selected_dai,
						'chu': selected_chu
				};
				$.ajax({
					url: "{{ path('client.yougo.ko.ajax') }}",
					data: data,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response);
						injectOption('js-ko', options);
					},
					error: function(response){
					}
				});
			});

			$('.js-list-count').bind('change', function(){
				var form = $(this).closest('form');
				form.submit();
			});
		});

	</script>
{% endblock %}
