{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% include 'CCKClientBundle:Common:style_yougo.html.twig' %}
{% endblock %}

{% block contents %}
<header class="site-header">

<!-- yougo search area -->
<form action="{{ path('client.yougo.index') }}" class="form-horizontal" method="GET" autocomplete="off">
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary panel-search">
			<div class="panel-heading">{{ 'text.search.conditions'|trans }}</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.yougo.curriculum'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-cur input-sm" name="curriculum">
										<option value="0">--------------</option>
										{% for cur in cur_list %}
											<option value="{{ cur.id }}" {{ cur.id == curriculum ? " selected " : '' }}">{{ cur.name }}</option>
										{% endfor %}
									</select>
								</div>
								<label class="col-sm-1">{{ 'text.yougo.version'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-han input-sm" name="version" disabled>
										<option value="0">--------------</option>
										{% for ver in ver_list %}
											<option value="{{ ver.id }}" {{ ver.id == version ? " selected " : '' }}">{{ ver.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.yougo.head.hen'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-hen input-sm" name="hen">
										<option value="0">--------------</option>
										{% for hen in hen_list %}
											<option value="{{ hen.hen }}" {{ hen.hen == search_hen ? " selected " : '' }}">{{ hen.name }}</option>
										{% endfor %}
									</select>
								</div>
								<label class="col-sm-1">{{ 'text.yougo.head.sho'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-sho input-sm" name="sho">
										<option value="0">--------------</option>
										{% for sho in sho_list %}
											<option value="{{ sho.sho }}" {{ sho.sho == search_sho ? " selected " : '' }}">{{ sho.name }}</option>
										{% endfor %}
									</select>
								</div>
								<label class="col-sm-1">{{ 'text.yougo.head.dai'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-dai input-sm" name="dai">
										<option value="0">--------------</option>
										{% for dai in dai_list %}
											<option value="{{ dai.dai }}" {{ dai.dai == search_dai ? " selected " : '' }}">{{ dai.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.yougo.head.chu'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-chu input-sm" name="chu">
										<option value="0">--------------</option>
										{% for chu in chu_list %}
											<option value="{{ chu.chu }}" {{ chu.chu == search_chu ? " selected " : '' }}">{{ chu.name }}</option>
										{% endfor %}
									</select>
								</div>
								<label class="col-sm-1">{{ 'text.yougo.head.ko'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-ko input-sm" name="ko">
										<option value="0">--------------</option>
										{% for ko in ko_list %}
											<option value="{{ ko.ko }}" {{ ko.ko == search_ko ? " selected " : '' }}">{{ ko.name }}</option>
										{% endfor %}
									</select>
								</div>
								<label class="col-sm-1">{{ 'text.yougo.nombre'|trans }}</label>
								<div class="col-sm-2">
									<input type="text" class="form-control input-sm" name="nombre" value="{{ nombre }}">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.yougo.freq.text'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control input-sm" name="text_freq">
										<option value="0">--------------</option>
										<option value="1" {{ text_freq == '1' ? " selected " : '' }}">A</option>
										<option value="2" {{ text_freq == '2' ? " selected " : '' }}">B</option>
										<option value="3" {{ text_freq == '3' ? " selected " : '' }}">C</option>
									</select>
								</div>
								<label class="col-sm-1">{{ 'text.yougo.freq.center'|trans }}</label>
								<div class="col-sm-2">
									<input type="text" class="form-control input-sm" name="center_freq" value="{{ center_freq }}">
								</div>
								<label class="col-sm-1">{{ 'text.yougo.news.exam'|trans }}</label>
								<div class="col-sm-1">
									<input type="checkbox" name="news_exam[]" {{ news_exam == true ? " checked" : '' }}>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.yougo.term'|trans }}</label>
								<div class="col-sm-4">
									<input type="text" class="form-control input-sm" name="term" value="{{ term }}">
								</div>
								<div class="col-sm-1">
									<button class="btn btn-primary button_text_align input-sm" type="submit">{{ 'btn.search'|trans }}</button>
								</div>
								<div class="col-sm-1">
									<button class="btn btn-default button_text_align input-sm" type="button" OnClick="search_clear();">{{ 'btn.clear'|trans }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>


</header>

<!-- yougo list area -->
<div class="content">
<div class="row">
	<div class="col-lg-8 text-center">
		{{ knp_pagination_render(pagination) }}
	</div>
	<div class="col-lg-1 text-center">
		<a href="{{ path('client.yougo.new') }}"><button class="btn btn-primary btn-sm" name="id">{{ 'btn.new.default'|trans }}</button></a>
	</div>
	<div class="col-lg-1 text-center">
		<a href="{{ path('client.yougo.preview.search') }}"><button class="btn btn-primary btn-sm" name="id">{{ 'btn.preview'|trans }}</button></a>
	</div>
	<div class="col-lg-2 text-right">
	<form action="{{ path('client.yougo.index') }}" class="form-horizontal sty_list_count" method="GET">
		<select class="form-control js-list-count" name="list_count">
			<option value="10" {{ list_count == '10' ? " selected " : '' }}">10件表示</option>
			<option value="20" {{ list_count == '20' ? " selected " : '' }}">20件表示</option>
			<option value="50" {{ list_count == '50' ? " selected " : '' }}">50件表示</option>
			<option value="100" {{ list_count == '100' ? " selected " : '' }}">100件表示</option>
			<option value="200" {{ list_count == '200' ? " selected " : '' }}">200件表示</option>
			<option value="9999" {{ list_count == '9999' ? " selected " : '' }}">すべて表示</option>
		</select>
	</form>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<table class="table table-yougo table-striped">
			<thead>
				<tr class="text-center">
					<th width="68px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.term_id"}) }}">{{ 'text.yougo.term_id'|trans }}{% if sort_field == "MainTerm.term_id" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="100px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.main_term"}) }}">{{ 'text.yougo.term'|trans }}{% if sort_field == "MainTerm.main_term" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="120px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.kana"}) }}">{{ 'text.yougo.kana'|trans }}{% if sort_field == "MainTerm.kana" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="120px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.index_kana"}) }}">{{ 'text.yougo.index_kana'|trans }}{% if sort_field == "MainTerm.index_kana" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="120px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "ExplainIndex.index_term"}) }}">{{ 'text.yougo.explain_term'|trans }}{% if sort_field == "ExplainIndex.index_term" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="100px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "SubTerm.sub_term"}) }}">{{ 'text.yougo.sub_term'|trans }}{% if sort_field == "SubTerm.sub_term" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="120px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "SubTerm.kana"}) }}">{{ 'text.yougo.sub_kana'|trans }}{% if sort_field == "SubTerm.kana" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="124px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "SubTerm.index_kana"}) }}">{{ 'text.yougo.sub_index_kana'|trans }}{% if sort_field == "SubTerm.index_kana" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="100px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "Refer_term.refer_term"}) }}">{{ 'text.yougo.refer_term'|trans }}{% if sort_field == "Refer_term.refer_term" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="100px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.index_original"}) }}">{{ 'text.yougo.index_original'|trans }}{% if sort_field == "MainTerm.index_original" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="124px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.index_original_kana"}) }}">{{ 'text.yougo.index_original_kana'|trans }}{% if sort_field == "MainTerm.index_original_kana" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="100px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.index_abbreviation"}) }}">{{ 'text.yougo.index_abbreviation'|trans }}{% if sort_field == "MainTerm.index_abbreviation" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="80px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.handover"}) }}">{{ 'text.yougo.handover'|trans }}{% if sort_field == "MainTerm.handover" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="80px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "User.name"}) }}">{{ 'text.yougo.update_user'|trans }}{% if sort_field == "User.name" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="100px" class="text-left"><a href="{{ path('client.yougo.index', {'field': "MainTerm.modify_date"}) }}">{{ 'text.yougo.modify_date'|trans }}{% if sort_field == "MainTerm.modify_date" %}{{ sort_order == 'up' ? "▲" : '' }}{{ sort_order == 'down' ? "▼" : '' }}{% endif %}</a></th>
					<th width="60px" class="text-left"></th>
					<th width="60px" class="text-left"></th>
					<th width="60px" class="text-left"></th>
					<th width="60px" class="text-left"></th>
					<th width="20px" class="text-left"></th>
				</tr>
			</thead>
			<tbody>
				{% for yougo in pagination %}
				<tr class="text-center">
					<td width="68px" class="text-left">{{ yougo.term_id }}</td>
					<td width="100px" class="text-left">{{ yougo.main_term }}</td>
					<td width="120px" class="text-left">{{ yougo.kana }}</td>
					<td width="120px" class="text-left">{{ yougo.index_kana }}</td>
					<td width="120px" class="text-left">{{ yougo.index_term }}</td>
					<td width="100px" class="text-left">{{ yougo.sub_term }}</td>
					<td width="120px" class="text-left">{{ yougo.sub_kana }}</td>
					<td width="124px" class="text-left">{{ yougo.sub_index_kana }}</td>
					<td width="100px" class="text-left">{{ yougo.refer_term }}</td>
					<td width="100px" class="text-left">{{ yougo.index_original }}</td>
					<td width="124px" class="text-left">{{ yougo.index_original_kana }}</td>
					<td width="100px" class="text-left">{{ yougo.index_abbreviation }}</td>
					<td width="80px" class="text-left">{{ yougo.handover|length > 5 ? yougo.handover[:5]~'…' : yougo.handover }}</td>
					<td width="80px" class="text-left">{{ yougo.name }}</td>
					<td width="100px" class="text-left">{{ yougo.modify_date|date('Y/m/d H:i') }}</td>

					<td width="60px">
						<div class="form-inline">
							<div class="form-group">
								<a href="{{ path('client.yougo.edit', {'term_id': yougo.term_id}) }}"><button class="btn btn-primary btn-sm button_yougo_list" name="id" value="{{ yougo.id }}" >{{ 'btn.edit'|trans }}</button></a>
							</div>
						</div>
					</td>
					<td width="60px">
						<div class="form-inline">
							<div class="form-group">
								<a href="{{ path('client.yougo.preview', {'term_id': yougo.term_id}) }}"><button class="btn btn-primary btn-sm button_yougo_list" name="id" value="{{ yougo.id }}" >{{ 'btn.preview'|trans }}</button></a>
							</div>
						</div>
					</td>
					<td width="60px">
						<div class="form-inline">
							<div class="form-group">
								<a href="{{ path('client.yougo.delete', {'id': yougo.id,'page': cur_page}) }}"><button class="btn btn-primary btn-sm button_yougo_list" name="id" value="{{ yougo.id }}" onClick="return checkDelete(this.form)">{{ 'btn.delete'|trans }}</button></a>
							</div>
						</div>
					</td>
					<td width="60px">
						<div class="form-inline">
							<div class="form-group">
								<a href="{{ path('client.typesetting.download', {'curriculum': curriculum,'version':version,'type':'0','term_id':yougo.term_id}) }}"><button class="btn btn-primary btn-sm button_yougo_list" name="id" value="{{ yougo.id }}" >{{ 'btn.csv'|trans }}</button></a>
							</div>
						</div>
					</td>
					<td width="20px">
						<div class="form-inline">
							<div class="form-group">
								<a href="{{ path('client.yougo.copy', {'term_id': yougo.term_id,'page': cur_page}) }}"><button class="btn btn-link" name="id" value="{{ yougo.id }}" ><i class="fa fa-plus-square-o"></i></button></a>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-right">
		{{ cur_page }}/{{ sum_page }}
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-center">
		{{ knp_pagination_render(pagination) }}
	</div>
</div>

</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

		function search_clear(){

			$('[name="version"]').empty().append(constructDefaultOption());
			$('[name="hen"]').empty().append(constructDefaultOption());
			$('[name="sho"]').empty().append(constructDefaultOption());
			$('[name="dai"]').empty().append(constructDefaultOption());
			$('[name="chu"]').empty().append(constructDefaultOption());
			$('[name="ko"]').empty().append(constructDefaultOption());

			$('[name="curriculum"]').val('0');
			$('[name="version"]').val('0');
			$('[name="hen"]').val('0');
			$('[name="sho"]').val('0');
			$('[name="dai"]').val('0');
			$('[name="chu"]').val('0');
			$('[name="ko"]').val('0');
			$('input[name="nombre"]').val('');
			$('[name="text_freq"]').val('0');
			$('input[name="center_freq"]').val('');
			$('input[name="news_exam[]"]').prop("checked",false);
			$('input[name="term"]').val('');

		}

		function checkDelete(form){
			if(window.confirm('用語データを削除します。よろしいですか。')){
				return true;
			}else{
				return false;
			}
		}

		$(function(){
			$('.js-cur').bind('change', function(){
				changeCurriculumHeader($('.js-cur'));
			});

			$('.js-han').bind('change', function(){
				changeHanHeader($('.js-han'),'hen');
			});

			$('.js-hen').bind('change', function(){
				changeHenHeader($('.js-hen'),'sho','dai','chu','ko');
			});

			$('.js-sho').bind('change', function(){
				changeShoHeader($('.js-sho'),'hen','dai','chu','ko');
			});

			$('.js-dai').bind('change', function(){
				changeDaiHeader($('.js-dai'),'hen','sho','chu','ko');
			});

			$('.js-chu').bind('change', function(){
				changeChuHeader($('.js-chu'),'hen','sho','dai','ko');
			});

			$('.js-list-count').bind('change', function(){
				var form = $(this).closest('form');
				form.submit();
			});
		});

	</script>
{% endblock %}
