{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<style>
.table-yougo {
	width: 360px;
}
.icon-half {
	width: 8.29px;
	hegiht: 16px;
	padding-bottom: 2px;
}
.icon-full {
	width: 16px;
	hegiht: 16px;
	padding-bottom: 2px;
}
.icon-3times {
	width: 48px;
	hegiht: 16px;
	padding-bottom: 2px;
}
	</style>
{% endblock %}

{% block contents %}
<div class="row">
<blockquote class="blockquote-bottom pdr-0">
	<p>{{ 'text.yougo.preview.title'|trans }}</p>
</blockquote>
</div>

<div class="row">
	<div class="col-lg-12">
		<table class="table table-yougo table-striped">
			<tbody>
				<tr class="text-center">
					<td width="60px" class="text-left">

						{% set record = 0 %}
						{% for yougo in arr_yougo %}

						<div>
							<span style="font-size: 16px; font-weight: bold; font-family: sans-serif; {{ (center_main[record] > 4) ? 'color:#ff004C;' : ''}}">{{ getTerm(yougo.main_term)|raw }}　{{ getTextFreqIcon(yougo.text_frequency,yougo.ranka,yougo.rankb)|raw }}{{ getCenterFreqIcon(center_main[record])|raw }}{{ getNewsExamIcon(yougo.news_exam)|raw }}</span>

							{% set i = 0 %}
							{% for rec_sub_term in arr_subterm[record] %}
								{% if i == 0 %}<span style="font-size: 16px; font-family: sans-serif;">{{ getDelimiter(yougo.delimiter)|trans }}</span>{% endif %}
								<span style="font-size: 16px; font-weight: bold; font-family: sans-serif; {{ (center_sub[record][i] > 4) ? 'color:#ff004C;' : ''}}">{{ getTerm(rec_sub_term.sub_term)|raw }}{{ getTextFreqIcon(rec_sub_term.text_frequency,yougo.ranka,yougo.rankb)|raw }}{{ getCenterFreqIcon(center_sub[record][i])|raw }}{{ getNewsExamIcon(rec_sub_term.news_exam)|raw }}</span><span style="font-size: 16px; font-family: sans-serif;">{{ getDelimiter(rec_sub_term.delimiter)|trans }}</span>
								{% set i = i + 1 %}
							{% endfor %}

							<span style="font-size: 14px; font-family: serif;">{{ replaceTag(yougo.term_explain)|raw }}</span>
							{% set i = 0 %}
							{% for rec_refer in arr_refer[record] %}
								{% if i == 0 %}<span style="font-size: 14px; font-family: sans-serif;">　<img src="{{ asset('./img/yubi.jpg') }}" class="icon-full" alt="yubi"></span>{% endif %}
								<span style="font-size: 14px; font-family: sans-serif;">ｐ．{{ rec_refer.nombre }}（{{ rec_refer.main_term }}）</span>
								{% set i = i + 1 %}
							{% endfor %}
						</div>
						{% set i = 0 %}
						{% for rec_synonym in arr_synonym[record] %}
							<div class="text-right">
								{{ getSynonymIcon(rec_synonym.synonym_id)|raw }}<span style="font-size: 14px; font-weight: bold; {{ (center_syn[record][i] > 4) ? 'color:#ff004C;' : ''}}">{{ rec_synonym.term }}{{ getTextFreqIcon(rec_synonym.text_frequency,yougo.ranka,yougo.rankb)|raw }}{{ getCenterFreqIcon(center_syn[record][i])|raw }}{{ getNewsExamIcon(rec_synonym.news_exam)|raw }}</span>
								{% set i = i + 1 %}
							</div>
						{% endfor %}

						<div style="height:2px;"></div>
						{% set record = record + 1 %}
						{% endfor %}

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	</script>
{% endblock %}
