{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<style>
.table-yougo {
	width: 360px;
}
.icon-half {
	width: 8px;
	hegiht: 16px;
	padding-bottom: 2px;
}
	</style>
{% endblock %}

{% block contents %}
<div class="row">
<blockquote class="blockquote-bottom pdr-0">
	<p>{{ 'text.yougo.preview.title'|trans }}</p>
</blockquote>
</div>

<div class="row">
	<div class="col-lg-12">
		<table class="table table-yougo table-striped">
			<tbody>
				<tr class="text-center">
					<td width="60px" class="text-left">
						<div>
							<span style="font-size: 16px; font-weight: bold; font-family: sans-serif;color:#ff004C;">{{ yougo.main_term }}　<img src="{{ asset('./img/1_.jpg') }}" class="icon-half" alt="1_"><img src="{{ asset('./img/_0.jpg') }}" class="icon-half" alt="_0">□</span>

							{% set sub_kana = '' %}
							{% set i = 0 %}
							{% for rec_sub_term in subterm %}
								{% if i == 0 %}<span style="font-size: 16px; font-weight: bold; font-family: sans-serif;">{{ yougo.delimiter }}</span>{% endif %}
								<span style="font-size: 16px; font-weight: bold; font-family: sans-serif;">{{ rec_sub_term.sub_term }}■□{{ rec_sub_term.delimiter }}</span>
								{% if rec_sub_term.kana != '' %}{% set sub_kana = sub_kana~'（'~rec_sub_term.kana~'）' %}{% endif %}
								{% set i = i + 1 %}
							{% endfor %}

							{% if yougo.kana != '' %}<span style="font-size: 10px; font-family: serif;">（{{ yougo.kana }}）</span>{% endif %}
							<span style="font-size: 10px; font-family: serif;">{{ sub_kana }}</span>
							<span style="font-size: 14px; font-family: serif;">{{ yougo.term_explain }}</span>
							{% set i = 0 %}
							{% for rec_refer in refer %}
								{% if i == 0 %}<span style="font-size: 14px; font-family: sans-serif;">　→</span>{% endif %}
								<span style="font-size: 14px; font-family: sans-serif;">ｐ．{{ rec_refer.nombre }}（{{ rec_refer.main_term }}）</span>
								{% set i = i + 1 %}
							{% endfor %}
						</div>
						{% for rec_synonym in synonym %}
							<div class="text-right">
								<span style="font-size: 16px; font-weight: bold;">■</span><span style="font-size: 14px; font-weight: bold;">{{ rec_synonym.term }}■</span>
							</div>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	</script>
{% endblock %}
