{% extends "CCKClientBundle::base.html.twig" %}

{% block header %}
{% endblock %}

{% block container %}
<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				{{ 'text.reset.password.title'|trans }}
			</div>
			<div class="panel-body">
				{% if error|length > 0 %}
					<div class="alert alert-danger">
					{% for error_element in error %}
						{{ error_element }}<br>
					{% endfor %}
					</div>
				{% endif %}

				<form action="{{ path('client.reset.password') }}" method="post" role="form" novalidate autocomplete="off">
					<div class="row">
						<div class="form-group">
							<div class="col-lg-4">
								{{ 'text.email.default'|trans }}
							</div>
							<div class="col-lg-6">
								<input type="text" id="user_id" class="form-control" name="user_id" value="" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							&nbsp;
						</div>
					</div>
					<div class="form-group text-center">
						<a href="{{ path('client.login') }}"><button class="btn btn-default" type="button" name="back">{{ 'btn.back'|trans }}</button></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-warning" type="submit" name="submit">{{ 'btn.send'|trans }}</button>
					</div>
				</form>

				<div class="row">
					<div class="form-inline">
						<div class="form-group">
							<a href="{{ path('client.update.password') }}">{{ 'text.update.password.title'|trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}