{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block contents %}
<div class="row">
<blockquote class="blockquote-bottom pdr-0">
	<p>{{ 'text.csv.export.title'|trans|raw }}</p>
</blockquote>
</div>

<form action="{{ path('client.typesetting.download') }}" class="form-horizontal" method="GET">
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="row">
					<div class="form-horizontal">
						<div class="">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.csv.export.honmon'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-cur input-sm" name="curriculum">
										<option value="0">--------------</option>
										{% for cur in cur_list %}
											<option value="{{ cur.id }}">{{ cur.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-han input-sm" name="version" disabled>
										<option value="0">--------------</option>
										{% for ver in ver_list %}
											<option value="{{ ver.id }}">{{ ver.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-hen input-sm" name="hen">
										<option value="0">--------------</option>
										{% for hen in hen_list %}
											<option value="{{ hen.hen }}">{{ hen.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-sho input-sm" name="sho">
										<option value="0">--------------</option>
										{% for sho in sho_list %}
											<option value="{{ sho.sho }}">{{ sho.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-1">
									<input type="hidden" name="type" value="0"/>
									<button class="btn btn-primary button_text_align input-sm" type="submit">{{ 'btn.download'|trans }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>

<form action="{{ path('client.typesetting.download') }}" class="form-horizontal" method="GET">
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="row">
					<div class="form-horizontal">
						<div class="">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.csv.export.index'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-cur2 input-sm" name="curriculum">
										<option value="0">--------------</option>
										{% for cur in cur_list %}
											<option value="{{ cur.id }}">{{ cur.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-han2 input-sm" name="version2" disabled>
										<option value="0">--------------</option>
										{% for ver in ver_list %}
											<option value="{{ ver.id }}">{{ ver.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-1">
									<input type="hidden" name="type" value="1"/>
									<button class="btn btn-primary button_text_align input-sm" type="submit">{{ 'btn.download'|trans }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
<hr>

<div class="row">
<blockquote class="blockquote-bottom pdr-0">
	<p>{{ 'text.csv.export.field.title'|trans|raw }}</p>
</blockquote>
</div>

<form class="form-horizontal" method="GET">
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12">
				<div class="col-sm-2">
					<select class="form-control js-cur3 input-sm" name="curriculum" id="curriculum">
						<option value="0">--------------</option>
						{% for cur in cur_list %}
							<option value="{{ cur.id }}">{{ cur.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-2">
					<select class="form-control js-han3 input-sm" name="version3" id="version" disabled>
						<option value="0">--------------</option>
						{% for ver in ver_list %}
							<option value="{{ ver.id }}">{{ ver.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-1">
					{{ 'text.preset.name'|trans }}
				</div>
				<div class="col-sm-2">
					<select class="form-control js-preset input-sm" name="preset" id="preset">
						<option value="0">--------------</option>
						{% for preset in preset_list %}
							<option value="{{ preset.id }}" id="{{ preset.fieldName }}">{{ preset.presetName }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<div class="col-lg-6">
					<table class="table table-responsive">
						<tr>
							<td>
								<select class="form-control" name="s1" size="5" multiple="multiple">
									{% for key,val in field_list %}
										<option value="{{ key }}">{{ val }}</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<input class="form-control" type="button" name="right" value="≫" /><br /><br />
								<input class="form-control" type="button" name="left" value="≪" />
							</td>
							<td>
								<div id="formarea">
									<select class="form-control" name="s2" size="5" multiple="multiple" onchange="buttonStyle(this,'')" id="SEL">
									</select>
								</div>
								</p><p>
								<input type="button" value="上に" id="UPBUTTON" disabled onclick="optionMove(-1,'')">
								<input type="button" value="下に" id="DOWNBUTTON" disabled onclick="optionMove(1,'')">
								<button class="btn btn-primary button_text_align input-sm js-generic-submit" type="button">{{ 'btn.download'|trans }}</button>
								<button class="btn btn-primary button_text_align input-sm js-preset-target" type="button" preset-target="#headerModal">{{ 'btn.preset'|trans }}</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="text-center">
			<button type="button" class="btn btn-primary js-generic-submit">{{ 'btn.submit'|trans }}</button>
		</div>
	</div>
</form>

<div class="modal fade" id="presetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog header-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				プリセット名の登録
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<label class="col-sm-2">{{ 'text.preset.name'|trans }}</label>
						<div class="col-sm-4">
							<span id="name-err" class="name-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="preset_name" name="preset_name" >
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<div class="text-center">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.no'|trans }}</button>
						<button type="button" class="btn btn-danger js-preset-submit">{{ 'btn.yes'|trans }}</button>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	$(function(){
		$('.js-cur').bind('change', function(){
			changeCurriculumHeader($('.js-cur'));
		});

		$('.js-han').bind('change', function(){
			changeHanHeader($('.js-han'),'hen');
		});

		$('.js-hen').bind('change', function(){
			changeHenHeader($('.js-hen'),'sho','dai','chu','ko','print_order');
		});

		$('.js-cur2').bind('change', function(){
			changeCurriculumHeader($('.js-cur2'),'version2');
		});

		$('.js-cur3').bind('change', function(){
			changeCurriculumHeader($('.js-cur3'),'version3');
		});

		$('.js-preset').bind('change', function(){
			console.log($(this).prop("id"));
		});
	});

	$(document).ready(function() {
	    $('input[name=right]').on('click', function() {
	        move('s1', 's2');
	    });

	    $('input[name=left]').on('click', function() {
	        move('s2', 's1');
	    });

	    var move = function(_this, target) {
	        $('select[name=' + _this + '] option:selected').each(function() {
	            $('select[name=' + target + ']').append($(this).clone());
	            $(this).remove();
	        });
	    };
	});

	function buttonStyle(O,idx){
		var UpButton = document.getElementById('UPBUTTON'+idx);
		var DownButton = document.getElementById('DOWNBUTTON'+idx);
		for(var i=0;i<O.options.length;i++){
			if(O.options[i].selected){
			if(i!=0) UpButton.disabled = false;
			else UpButton.disabled = true;
			if(i!=(O.options.length-1)) DownButton.disabled = false;
			else DownButton.disabled = true;
			}
		}
	}
	function optionMove(MODE,idx) {
		var O = document.getElementById('SEL'+idx);
		for(var i=0;i<O.options.length;i++)
		if(O.options[i].selected) break;
		var tmpOption = O.removeChild(O.options[i]);
		O.insertBefore(tmpOption,O.options[i+MODE])

		buttonStyle(O,idx);
	}

	$('.js-generic-submit').bind('click', function(e){

		var generic_field = [];
		var generic_value = [];
		var dwlist = document.getElementById('SEL');
		for(var i=0;i<dwlist.options.length;i++){
			generic_field.push(dwlist.options[i].text);
			generic_value.push(dwlist.options[i].value);
		}

		var str_html = "<input type='hidden' name='curriculum' value='" + document.getElementById('curriculum').value + "'>";
		str_html += "<input type='hidden' name='version' value='" + document.getElementById('version').value + "'>";
		str_html += "<input type='hidden' name='type' value='2'>";
		str_html += "<input type='hidden' name='generic_field' value='" + generic_field + "'><input type='hidden' name='generic_value' value='" + generic_value + "'>";

		// create form
		$('<form>', {
			"id": "areaForm",
			"html":  str_html,
			"action": "{{ path('client.typesetting.download') }}",
			"method": "GET"
		}).appendTo(document.body).submit();
	});

	$(".js-preset-target").bind('click', function(e){
		// get target
		var target = $(e.currentTarget);

		// modal open
		$('#presetModal').modal();

	});

	$('.js-preset-submit').bind('click', function(e){
		var preset_name = $('#preset_name').val();

		var str_html = '';
		str_html = "<input type='hidden' name='preset_name' value=\"" + preset_name.replace(/"/i, "&quot;") + "\">";

		if(header_id !== void 0){
			// create form
			$('<form>', {
				"id": "updatePresetForm",
				"html": str_html,
				"action": "{{ path('client.csv.preset.update') }}",
				"method": "POST"
			}).appendTo(document.body).submit();
		}
	});

	</script>
{% endblock %}
