{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block contents %}
<div class="row">
<blockquote class="blockquote-bottom pdr-0">
	<p>{{ 'text.csv.export.title'|trans|raw }}</p>
</blockquote>
</div>

<form action="{{ path('client.typesetting.download') }}" class="form-horizontal" method="GET">
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="row">
					<div class="form-horizontal">
						<div class="">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.csv.export.honmon'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-cur input-sm" name="curriculum">
										<option value="0">--------------</option>
										{% for cur in cur_list %}
											<option value="{{ cur.id }}">{{ cur.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-han input-sm" name="version" disabled>
										<option value="0">--------------</option>
										{% for ver in ver_list %}
											<option value="{{ ver.id }}">{{ ver.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-hen input-sm" name="hen">
										<option value="0">--------------</option>
										{% for hen in hen_list %}
											<option value="{{ hen.hen }}">{{ hen.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-sho input-sm" name="sho">
										<option value="0">--------------</option>
										{% for sho in sho_list %}
											<option value="{{ sho.sho }}">{{ sho.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-1">
									<input type="hidden" name="type" value="0"/>
									<button class="btn btn-primary button_text_align input-sm" type="submit" onClick="return checkDownload('js-cur','js-han')">{{ 'btn.download'|trans }}</button>
								</div>
							</div>
							<div class="col-sm-5">
									{{ message_honmon }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>

<form action="{{ path('client.typesetting.download') }}" class="form-horizontal" method="GET">
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="row">
					<div class="form-horizontal">
						<div class="">
							<div class="col-lg-12">
								<label class="col-sm-1">{{ 'text.csv.export.index'|trans }}</label>
								<div class="col-sm-2">
									<select class="form-control js-cur2 input-sm" name="curriculum">
										<option value="0">--------------</option>
										{% for cur in cur_list %}
											<option value="{{ cur.id }}">{{ cur.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-2">
									<select class="form-control js-han2 input-sm" name="version2" disabled>
										<option value="0">--------------</option>
										{% for ver in ver_list %}
											<option value="{{ ver.id }}">{{ ver.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-1">
									<input type="hidden" name="type" value="1"/>
									<button class="btn btn-primary button_text_align input-sm" type="submit" onClick="return checkDownload('js-cur2','js-han2')">{{ 'btn.download'|trans }}</button>
								</div>
							</div>
							<div class="col-sm-5">
									{{ message_sakuin }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
<hr>

<div class="row">
<blockquote class="blockquote-bottom pdr-0">
	<p>{{ 'text.csv.export.field.title'|trans|raw }}</p>
</blockquote>
</div>

<form class="form-horizontal" method="GET">
	<div class="row">
		<div class="form-group">
			<div class="col-lg-12">
				<div class="col-sm-2">
					<select class="form-control js-cur3 input-sm" name="curriculum" id="curriculum">
						<option value="0">--------------</option>
						{% for cur in cur_list %}
							<option value="{{ cur.id }}">{{ cur.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-2">
					<select class="form-control js-han3 input-sm" name="version3" id="version" disabled>
						<option value="0">--------------</option>
						{% for ver in ver_list %}
							<option value="{{ ver.id }}">{{ ver.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-1">
					{{ 'text.preset.name'|trans }}
				</div>
				<div class="col-sm-2">
					<select class="form-control js-preset input-sm" name="preset" id="preset">
						<option value="0">--------------</option>
						{% for preset in preset_list %}
							<option value="{{ preset.id }}" id="{{ preset.fieldName }}">{{ preset.presetName }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-danger button_text_align input-sm js-preset-delete" type="button">{{ 'btn.delete'|trans }}</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<div class="col-lg-6">
					<table class="table table-responsive">
						<tr>
							<td>
								<select class="form-control" name="s1" size="5" multiple="multiple">
									{% for key,val in field_list %}
										<option value="{{ key }}">{{ val }}</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<input class="form-control" type="button" name="right" value="≫" /><br /><br />
								<input class="form-control" type="button" name="left" value="≪" />
							</td>
							<td>
								<div id="formarea">
									<select class="form-control" name="s2" size="5" multiple="multiple" onchange="buttonStyle(this,'')" id="SEL">
									</select>
								</div>
								</p><p>
								<input type="button" value="上に" id="UPBUTTON" disabled onclick="optionMove(-1,'')">
								<input type="button" value="下に" id="DOWNBUTTON" disabled onclick="optionMove(1,'')">
								<button class="btn btn-primary button_text_align input-sm js-generic-submit" type="button">{{ 'btn.download'|trans }}</button>
								<button class="btn btn-primary button_text_align input-sm js-preset-target" type="button" preset-target="#headerModal">{{ 'btn.preset'|trans }}</button>
								<button class="btn btn-default button_text_align input-sm js-clear" type="button">{{ 'btn.clear'|trans }}</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-sm-5">
				{{ message_preset }}
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<div class="text-center">
			<a href="{{ path('client.yougo.index') }}"><div class="btn btn-default" name="back">{{ 'btn.back'|trans }}</div></a>
		</div>
	</div>
</form>

<div class="modal fade" id="presetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog header-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				プリセット名の登録
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<label class="col-sm-2">{{ 'text.preset.name'|trans }}</label>
						<div class="col-sm-4">
							<span id="name-err" class="name-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="preset_name" name="preset_name" >
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<div class="text-center">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.no'|trans }}</button>
						<button type="button" class="btn btn-danger js-preset-submit">{{ 'btn.yes'|trans }}</button>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

	$(function(){
		$('.js-cur').bind('change', function(){
			changeCurriculumHeader($('.js-cur'));
		});

		$('.js-han').bind('change', function(){
			changeHanHeader($('.js-han'),'hen');
		});

		$('.js-hen').bind('change', function(){
			changeHenHeader($('.js-hen'),'sho','dai','chu','ko','print_order');
		});

		$('.js-cur2').bind('change', function(){
			changeCurriculumHeader($('.js-cur2'),'version2');
		});

		$('.js-cur3').bind('change', function(){
			changeCurriculumHeader($('.js-cur3'),'version3');
		});

		$('.js-preset').bind('change', function(){
			console.log($(this).prop("id"));

			clearField();

			var txt_preset_field = $('[name=preset] option:selected').prop("id");
			var arr_preset_field = txt_preset_field.split(',');

			for(idx in arr_preset_field){
				$('select[name=s2]').append($('select[name=s1] option[value=' + arr_preset_field[idx] + ']').clone());
				$('select[name=s1] option[value=' + arr_preset_field[idx] + ']').remove();
			}
		});

		$('.js-clear').bind('click', function(){
			clearField();
		});
	});

	$(document).ready(function() {
	    $('input[name=right]').on('click', function() {
	        move('s1', 's2');
	    });

	    $('input[name=left]').on('click', function() {
	        move('s2', 's1');
	    });

	    var move = function(_this, target) {
	        $('select[name=' + _this + '] option:selected').each(function() {
	            $('select[name=' + target + ']').append($(this).clone());
	            $(this).remove();
	        });
	    };
	});

	function checkDownload(cur,han){
		if(($('.'+cur).val() == 0)||($('.'+han).val() == 0)){
			alert("教科・版を選択してください。");
			return false;
		}else{
			return true;
		}
	}

	function clearField(){
		// フィールド一覧(左)の初期化
		var options = [];
		var option;
		{% for key,val in field_list %}
			console.log("{{ key }}"+":"+"{{ val }}");

			option = $('<option></option>');
			option.append("{{ val }}");
			option.attr('value', "{{ key }}");
			options.push(option);
		{% endfor %}

		injectOption('[name="s1"]', options);

		// フィールド選択(右)の初期化
		$('[name="s2"]').empty();
	}

	function buttonStyle(O,idx){
		var UpButton = document.getElementById('UPBUTTON'+idx);
		var DownButton = document.getElementById('DOWNBUTTON'+idx);
		for(var i=0;i<O.options.length;i++){
			if(O.options[i].selected){
			if(i!=0) UpButton.disabled = false;
			else UpButton.disabled = true;
			if(i!=(O.options.length-1)) DownButton.disabled = false;
			else DownButton.disabled = true;
			}
		}
	}
	function optionMove(MODE,idx) {
		var O = document.getElementById('SEL'+idx);
		for(var i=0;i<O.options.length;i++)
		if(O.options[i].selected) break;
		var tmpOption = O.removeChild(O.options[i]);
		O.insertBefore(tmpOption,O.options[i+MODE])

		buttonStyle(O,idx);
	}

	function checkDelete(form){
		var preset_name = $('[name=preset] option:selected').text();
		if(window.confirm('プリセット「' + preset_name + '」を削除します。よろしいですか。')){
			return true;
		}else{
			return false;
		}
	}

	$('.js-generic-submit').bind('click', function(e){
		// 教科・版選択チェック
		if(!checkDownload('js-cur3','js-han3')){
			return false;
		}

		var generic_field = [];
		var generic_value = [];
		var dwlist = document.getElementById('SEL');
		for(var i=0;i<dwlist.options.length;i++){
			generic_field.push(dwlist.options[i].text);
			generic_value.push(dwlist.options[i].value);
		}

		// フィールド選択チェック
		if(dwlist.options.length == 0){
			alert("フィールドを選択してください。");
			return false;
		}

		var str_html = "<input type='hidden' name='curriculum' value='" + document.getElementById('curriculum').value + "'>";
		str_html += "<input type='hidden' name='version' value='" + document.getElementById('version').value + "'>";

		var select_preset = document.getElementById('preset');
		var preset_name = select_preset.options[select_preset.selectedIndex].text;
		str_html += "<input type='hidden' name='preset' value='" + preset_name + "'>";
		str_html += "<input type='hidden' name='type' value='2'>";
		str_html += "<input type='hidden' name='generic_field' value='" + generic_field + "'><input type='hidden' name='generic_value' value='" + generic_value + "'>";

		// create form
		$('<form>', {
			"id": "areaForm",
			"html":  str_html,
			"action": "{{ path('client.typesetting.download') }}",
			"method": "GET"
		}).appendTo(document.body).submit();
	});

	$(".js-preset-target").bind('click', function(e){
		// get target
		var target = $(e.currentTarget);

		// modal open
		$('#presetModal').modal();

	});

	$('.js-preset-submit').bind('click', function(e){
		var preset_name = $('#preset_name').val();

		var field_list = $('select[name=s2]').children();
		var field_str = '';
		for (var i=0; i<field_list.length; i++) {
			console.log(field_list.eq(i).val());
			field_str += field_list.eq(i).val() + ',';
		}
		if(field_str != ''){
			field_str = field_str.slice(0,-1);
		}

		var data = {
				'preset_name': preset_name.replace(/"/i, "&quot;"),
				'preset_field': field_str
		};
		$.ajax({
			url: "{{ path('client.csv.preset.update') }}",
			data: data,
			method: 'POST',
			success: function(response){
				return_cd = response.return_cd;
				if (return_cd == true) {
					$('#presetModal').modal('hide');
				} else {
					if(response.name == 'preset saved count over'){
						alert('プリセット件数が10件を超えています。');
					}else if(response.name == 'preset saved duplicate'){
						alert('プリセット名が重複しています。名前をご確認ください。');
					}else if(response.name == 'parameter err'){
						alert('パラメータエラー。');
					}else{
						alert('DBエラー。');
					}
				}
			},
			error: function(response){
				alert("DBエラー");
			}
		});
	});

	$('.js-preset-delete').bind('click', function(e){
		var preset_name = $('[name=preset] option:selected').text();
		if(!window.confirm('プリセット「' + preset_name + '」を削除します。よろしいですか。')){
			return false;
		}

		var preset_id = $('[name=preset]').val();
		console.log(preset_id);

		var data = {
				'id': preset_id
		};
		$.ajax({
			url: "{{ path('client.csv.preset.delete') }}",
			data: data,
			async: false,
			method: 'POST',
			success: function(response){
				alert('プリセットを削除しました。');
				location.reload();
			},
			error: function(response){
				alert('DB更新エラー');
			}
		});
	});
	</script>
{% endblock %}
