<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="robots" content="noindex">

		<title>清水書院用語集管理システム</title>

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="{{ asset('bundles/cckcommon/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
		<script src="{{ asset('bundles/cckcommon/js/ie-emulation-modes-warning.js') }}"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		{% block stylesheets %}
		<link href="{{ asset('bundles/cckcommon/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/cckcommon/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/cckcommon/css/bootstrap-overwrite.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/cckcommon/css/reset.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/cckcommon/css/common.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/cckcommon/css/_styles.css') }}?{{ 'now'|date('U') }}" rel="stylesheet">

		<style>
		.side-select {
			margin-left: 4px;
			margin-right: 4px;
		}
		</style>
		{% endblock %}

	</head>

	<body>
		{% block header %}
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/" style="padding: 5px 15px;">
					<picture>
					用語管理システム
					</picture>
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					{% if app.environment == 'dev' %}
					{% endif %}
					<ul class="nav navbar-nav navbar-right">
						{% if currentUser is defined %}
						<li class="navbar-text">[{{ currentUser.user_id }}] {{ currentUser.name }}</li>
						{% endif %}
						<li><a href="{{ asset('./uploads/help/junbi.pdf') }}" target="_blank">{{ 'text.help.title'|trans }}</a></li>
						{% if is_granted('ROLE_USER') %}
							<li><a href="{{ path('client.yougo.logout') }}">{{ 'text.logout'|trans }}</a></li>
						{% else %}
						<li><a href="{#{ path('client.login') }#}"><i class="fa fa-lock fa-fw"></i>{{ 'text.login'|trans }}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{% endblock %}

		{% block container %}
		{% endblock %}

		{% block footer %}
		<div id="footer">
			<div class="outer">
				<div class="inner">
					<p class="text-muted text-center">© {{ 'now'|date('Y') }} Shimizu Shoin co.,Ltd All rights reserved.</p>
				</div>
			</div>
		</div>
		{% endblock	%}

		{% block javascripts %}
		<script src="{{ asset('bundles/cckcommon/js/jquery-1.11.3.min.js') }}"></script>
		<script src="{{ asset('bundles/cckcommon/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/cckcommon/js/docs.min.js') }}"></script>
		<script src="{{ asset('bundles/cckcommon/js/common.js') }}?{{ 'now'|date('U') }}"></script>
		<script src="{{ asset('bundles/cckcommon/jquery-cookie-master/src/jquery.cookie.js') }}"></script>
		<script>
			function generateOptions(response,skipNotApplicable = false,term_id = false){
				var options = [];

				var option;
				if(!skipNotApplicable){
					option = $('<option></option>');
					option.append('--------------');
					option.attr('value', '0');
					options.push(option);
				}

				$.each(response, function(key, list){
					option = $('<option></option>');
					option.append(replaceTagOption(list.name));
					option.attr('value', list.id);
					// 掲載順リストの場合、修正対象の主用語のみ選択可能にする
					if(term_id){
						if(term_id == list.id){
							option.attr('selected', true);
						}else{
							option.attr('disabled', true);
						}
					}
					options.push(option);
				});

				return options;
			}

			function injectOption(target, options){
				$(target).empty().append(options);
			}

			function replaceTagOption(val){
				val = val.replace(/《rtn》/g,"");
				val = val.replace(/《c_G》/g,"");
				val = val.replace(/《\/c_G》/g,"");
				val = val.replace(/《c_SY》/g,"");
				val = val.replace(/《\/c_SY》/g,"");
				val = val.replace(/《c_SK》/g,"");
				val = val.replace(/《\/c_SK》/g,"");
				val = val.replace(/《c_KJ》/g,"");
				val = val.replace(/《\/c_KJ》/g,"");
				val = val.replace(/《c_KA》/g,"");
				val = val.replace(/《\/c_KA》/g,"");
				val = val.replace(/《c_GAI》/g,"");
				val = val.replace(/《\/c_GAI》/g,"");
				val = val.replace(/《c_UT》/g,"");
				val = val.replace(/《\/c_UT》/g,"");
				val = val.replace(/《c_ST》/g,"");
				val = val.replace(/《\/c_ST》/g,"");
				val = val.replace(/《c_UBK》/g,"");
				val = val.replace(/《\/c_UBK》/g,"");
				val = val.replace(/《c_TM:[0-9]+》/g,"");
				val = val.replace(/《\/c_TM》/g,"");
				val = val.replace(/《c_SAK》/g,"");
				val = val.replace(/《\/c_SAK》/g,"");
				return val;
			}


			function changeCurriculumHeader(e,version='version'){
				var selected_ver = e.val();
				var data = {
						'cur': selected_ver
				};
				$.ajax({
					url: "{{ path('client.yougo.curriculum.ajax') }}",
					data: data,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response);
						injectOption('[name="' + version + '"]', options);
					},
					error: function(response){
					}
				});

				if(selected_ver == '0'){
					$('[name="' + version + '"]').val('0');
					$('[name="' + version + '"]').prop("disabled", true);
				}else{
					$('[name="' + version + '"]').prop("disabled", false);
				}
			}

			function changeHanHeader(e,hen,is_class=false){
				var selected_ver = e.val();
				var data = {
						'version': selected_ver
				};
				$.ajax({
					url: "{{ path('client.yougo.hen.ajax') }}",
					data: data,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response);
						if(!is_class){
							injectOption('[name="' + hen + '"]', options);
						}else{
							injectOption(hen, options);
						}

					},
					error: function(response){
					}
				});
			}

			function constructDefaultOption(){
				var options = [];
				var option = $('<option></option>');
				option.append('--------------');
				option.attr('value', '0');
				options.push(option);
				return options;
			}

			function changeHenHeader(e,sho,dai,chu,ko,term = null,skipNotApplicable = false){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = e.val();

				if(selected_hen == '0'){
					$('[name="' + sho + '"]').val('0');
				}else{
				}
				$('[name="' + dai + '"]').val('0');
				$('[name="' + chu + '"]').val('0');
				$('[name="' + ko + '"]').val('0');

				var data = {
						'version': selected_ver,
						'hen': selected_hen
				};
				$.ajax({
					url: "{{ path('client.yougo.sho.ajax') }}",
					data: data,
					async: false,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response,skipNotApplicable);
						injectOption('[name="' + sho + '"]', options);
					},
					error: function(response){
					}
				});

				$('[name="' + dai + '"]').empty().append(constructDefaultOption());
				$('[name="' + chu + '"]').empty().append(constructDefaultOption());
				$('[name="' + ko + '"]').empty().append(constructDefaultOption());

				if(term){
					var data = {
							'term_id': (term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : '',
							'main_term': $('[name="main_term"]').val(),
							'version': selected_ver,
							'hen': selected_hen
					};
					$.ajax({
						url: "{{ path('client.yougo.term.ajax') }}",
						data: data,
						async: false,
						method: 'POST',
						success: function(response){
							var options = generateOptions(response,true,(term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : false);
							injectOption('[name="' + term + '"]', options);
						},
						error: function(response){
						}
					});
				}

			}

			function changeShoHeader(e,hen,dai,chu,ko,term = null,skipNotApplicable = false){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = $('[name="' + hen + '"]').val();
				var selected_sho = e.val();

				if(selected_sho == '0'){
					$('[name="' + dai + '"]').val('0');
				}else{
				}
				$('[name="' + chu + '"]').val('0');
				$('[name="' + ko + '"]').val('0');

				var data = {
						'version': selected_ver,
						'hen': selected_hen,
						'sho': selected_sho
				};
				$.ajax({
					url: "{{ path('client.yougo.dai.ajax') }}",
					data: data,
					async: false,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response,skipNotApplicable);
						injectOption('[name="' + dai + '"]', options);
					},
					error: function(response){
					}
				});

				$('[name="' + chu + '"]').empty().append(constructDefaultOption());
				changeDaiHeader($('[name="' + dai + '"]'),hen,e.attr('name'),chu,ko); // 大見出し：なし,中見出し：ありの場合
				$('[name="' + ko + '"]').empty().append(constructDefaultOption());

				if(term){
					var data = {
							'term_id': (term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : '',
							'main_term': $('[name="main_term"]').val(),
							'version': selected_ver,
							'hen': selected_hen,
							'sho': selected_sho
					};
					$.ajax({
						url: "{{ path('client.yougo.term.ajax') }}",
						data: data,
						async: false,
						method: 'POST',
						success: function(response){
							options = generateOptions(response,true,(term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : false);
							injectOption('[name="' + term + '"]', options);
						},
						error: function(response){
						}
					});
				}

			}

			function changeDaiHeader(e,hen,sho,chu,ko,term = null,skipNotApplicable = false){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = $('[name="' + hen + '"]').val();
				var selected_sho = $('[name="' + sho + '"]').val();
				var selected_dai = e.val();

				if(selected_dai == '0'){
					$('[name="' + chu + '"]').val('0');
				}else{
				}
				$('[name="' + ko + '"]').val('0');

				var data = {
						'version': selected_ver,
						'hen': selected_hen,
						'sho': selected_sho,
						'dai': selected_dai
				};
				$.ajax({
					url: "{{ path('client.yougo.chu.ajax') }}",
					data: data,
					async: false,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response,skipNotApplicable);
						injectOption('[name="' + chu + '"]', options);
					},
					error: function(response){
					}
				});

				$('[name="' + ko + '"]').empty().append(constructDefaultOption());

				if(term){
					var data = {
							'term_id': (term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : '',
							'main_term': $('[name="main_term"]').val(),
							'version': selected_ver,
							'hen': selected_hen,
							'sho': selected_sho,
							'dai': selected_dai
					};
					$.ajax({
						url: "{{ path('client.yougo.term.ajax') }}",
						data: data,
						async: false,
						method: 'POST',
						success: function(response){
							var options = generateOptions(response,true,(term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : false);
							injectOption('[name="' + term + '"]', options);
						},
						error: function(response){
						}
					});
				}

			}

			function changeChuHeader(e,hen,sho,dai,ko,term = null,skipNotApplicable = false){
				var selected_ver = $('[name="version"]').val();
				var selected_hen = $('[name="' + hen + '"]').val();
				var selected_sho = $('[name="' + sho + '"]').val();
				var selected_dai = $('[name="' + dai + '"]').val();
				var selected_chu = e.val();

				if(selected_chu == '0'){
					$('[name="' + ko + '"]').val('0');
				}else{
				}

				var data = {
						'version': selected_ver,
						'hen': selected_hen,
						'sho': selected_sho,
						'dai': selected_dai,
						'chu': selected_chu
				};
				$.ajax({
					url: "{{ path('client.yougo.ko.ajax') }}",
					data: data,
					async: false,
					method: 'POST',
					success: function(response){
						var options = generateOptions(response,skipNotApplicable);
						injectOption('[name="' + ko + '"]', options);
					},
					error: function(response){
					}
				});

				if(term){
					var data = {
							'term_id': (term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : '',
							'main_term': $('[name="main_term"]').val(),
							'version': selected_ver,
							'hen': selected_hen,
							'sho': selected_sho,
							'dai': selected_dai,
							'chu': selected_chu
					};
					$.ajax({
						url: "{{ path('client.yougo.term.ajax') }}",
						data: data,
						async: false,
						method: 'POST',
						success: function(response){
							var options = generateOptions(response,true,(term.indexOf("ref_") === -1) ? $('[name="term_id"]').text() : false);
							injectOption('[name="' + term + '"]', options);
						},
						error: function(response){
						}
					});
				}

			}

			// 掲載順リスト
			function buttonStyle(O){
				var UpButton = document.getElementById('UPBUTTON');
				var DownButton = document.getElementById('DOWNBUTTON');
				var UpButton10 = document.getElementById('UPBUTTON10');
				var DownButton10 = document.getElementById('DOWNBUTTON10');
				for(var i=0;i<O.options.length;i++){
					if(O.options[i].selected){
						if(i!=0) UpButton.disabled = false;
						else UpButton.disabled = true;
						if(i!=(O.options.length-1)) DownButton.disabled = false;
						else DownButton.disabled = true;

						if(DownButton10){
							if(O.options.selectedIndex+10<O.options.length){
								DownButton10.disabled = false;
							}else{
								DownButton10.disabled = true;
							}
						}

						if(UpButton10){
							if(O.options.selectedIndex+1-10>0){
								UpButton10.disabled = false;
							}else{
								UpButton10.disabled = true;
							}
						}
					}
				}
			}
			function optionMove(MODE,elemId) {
				var O = document.getElementById(elemId);
				for(var i=0;i<O.options.length;i++)
				if(O.options[i].selected) break;
				var tmpOption = O.removeChild(O.options[i]);
				O.insertBefore(tmpOption,O.options[i+MODE])

				buttonStyle(O);
			}

			$(function(){
				$('[name="cur"]').bind('change', function(){
					var selected = $(this).val();
					var data = {
							'cur': selected
					};
					$.ajax({
						url: "{{ path('client.yougo.curriculum.ajax') }}",
						data: data,
						method: 'POST',
						success: function(response){
							var options = generateOptions(response);
							injectOption('[name="ver"]', options);
						},
						error: function(response){
						}
					});

					if(selected == '0'){
						$('[name="ver"]').prop("disabled", true);
					}else{
						$('[name="ver"]').prop("disabled", false);
					}
				});

				$('[name="ver"]').bind('change', function(){
					var ver = $(this).val();
					var cur = $('[name="cur"]').val();
					window.location.href = "{{ path('client.yougo.index') }}" + "?curriculum=" + cur + "&version=" + ver;
				});
			});

			function loading(msg){
				// 引数なし（メッセージなし）を許容
				if( msg == undefined ){
					msg = "";
				}
				// 画面表示メッセージ
				var dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
				// ローディング画像が表示されていない場合のみ出力
				if($("#loading").length == 0){
					$("body").append("<div id='loading'>" + dispMsg + "</div>");
				}
			}
		</script>

		{% endblock %}
	</body>
</html>
