					<div class="form-group">
						<div class="col-lg-12">
							<div class="col-sm-2">
							<label>{{ 'text.yougo.term_id'|trans }}</label>
							<label name="term_id">{{ 'M%06s'|format(yougo.termId) }}</label>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.curriculum'|trans }}</label>
							<div class="col-sm-2">
								<select class="form-control js-cur input-sm" name="curriculum">
									<option value="0">--------------</option>
									{% for cur in cur_list %}
										<option value="{{ cur.id }}" {{ cur.id == curriculum ? " selected " : '' }}">{{ cur.name }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.version'|trans }}</label>
							<div class="col-sm-2">
								<select class="form-control js-han input-sm" name="version" disabled>
									<option value="0">--------------</option>
									{% for ver in ver_list %}
										<option value="{{ ver.id }}" {{ ver.id == version ? " selected " : '' }}">{{ ver.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.head.hen'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-hen input-sm" name="hen">
									<option value="0">--------------</option>
									{% for hen in hen_list %}
										<option value="{{ hen.id }}" {{ hen.id == select_hen ? " selected " : '' }}">{{ replaceTag(hen.name)|raw }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.head.sho'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-sho input-sm" name="sho">
									<option value="0">--------------</option>
									{% for sho in sho_list %}
										<option value="{{ sho.id }}" {{ sho.id == select_sho ? " selected " : '' }}">{{ replaceTag(sho.name)|raw }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.head.dai'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-dai input-sm" name="dai">
									<option value="0">--------------</option>
									{% for dai in dai_list %}
										<option value="{{ dai.id }}" {{ dai.id == select_dai ? " selected " : '' }}">{{ replaceTag(dai.name)|raw }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.head.chu'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-chu input-sm" name="chu">
									<option value="0">--------------</option>
									{% for chu in chu_list %}
										<option value="{{ chu.id }}" {{ chu.id == select_chu ? " selected " : '' }}">{{ replaceTag(chu.name)|raw }}</option>
									{% endfor %}
								</select>
							</div>
							<label class="col-sm-1">{{ 'text.yougo.head.ko'|trans }}</label>
							<div class="col-sm-3">
								<select class="form-control js-ko input-sm" name="ko">
									<option value="0">--------------</option>
									{% for ko in ko_list %}
										<option value="{{ ko.id }}" {{ ko.id == select_ko ? " selected " : '' }}">{{ replaceTag(ko.name)|raw }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="col-lg-6">
								<table class="table table-responsive table-striped">
									<tr>
										<td>
											<div id="formsort">
												<select class="form-control" name="print_order" size="5" multiple="multiple" onchange="buttonStyle(this)" id="print_order">
												{% for print_order_term in print_order_list %}
													<option value="{{ print_order_term.term_id }}" {{ print_order_term.term_id == term_id ? " selected " : " disabled " }}">{{ print_order_term.main_term }}</option>
												{% endfor %}
												</select>
											</div>
										</td>
										<td>
											<input type="button" value="{{ 'btn.sort.up10'|trans }}" id="UPBUTTON10" onclick="optionMove(-10,'print_order')"><br />
											<input type="button" value="{{ 'btn.sort.up'|trans }}" id="UPBUTTON" onclick="optionMove(-1,'print_order')"><br />
											<input type="button" value="{{ 'btn.sort.down'|trans }}" id="DOWNBUTTON" onclick="optionMove(1,'print_order')"><br />
											<input type="button" value="{{ 'btn.sort.down10'|trans }}" id="DOWNBUTTON10" onclick="optionMove(10,'print_order')"><br />
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>