<ul class="nav nav-sidebar">
	<li class="side-select"><select class="form-control js-cur-side" name="cur">
		<option value="0">{{ 'text.curriculum.all'|trans }}</option>
		{% for cur in cur_list %}
			<option value="{{ cur.id }}" {% if curriculum is defined %}{{ cur.id == curriculum ? " selected " : '' }}{% endif %}>{{ cur.name }}</option>
		{% endfor %}
	</select></li>
	<li>&nbsp;</li>
	<li class="side-select"><select class="form-control js-han-side" name="ver" disabled>
		<option value="0">--------------</option>
		{% for ver in ver_list %}
			<option value="{{ ver.id }}" {% if version is defined %}{{ ver.id == version ? " selected " : '' }}{% endif %}>{{ ver.name }}</option>
		{% endfor %}
	</select></li>
	<li><hr></li>
	<li><a href="{{ path('client.csv.export', {'status': 'default'}) }}">{{ 'text.csv.export.title'|trans|raw }}</a></li>
	<li><a href="{{ path('client.csv.import', {'status': 'default'}) }}">{{ 'text.csv.import.nombre'|trans|raw }}</a></li>
	<li><a href="{{ path('client.csv.import.term', {'status': 'default'}) }}">{{ 'text.csv.import.term.title'|trans|raw }}</a></li>
	<li><hr></li>
	<li><a href="{{ path('client.master.index') }}">{{ 'text.master.title'|trans }}</a></li>
</ul>
