<hr class="divider">
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<!-- サブ用語 -->
				<div id="form_subterms">
				</div>
				<button type="button" class="btn btn-primary btn-sm" id="addForm">{{ 'btn.add.subterm'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<hr class="divider">
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<!-- 同対類用語 -->
				<div id="form_synterms">
				</div>
				<button type="button" class="btn btn-primary btn-sm" id="addFormSyn">{{ 'btn.add.synterm'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<hr class="divider">
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<!-- 指矢印用語 -->
				<div id="form_refterms">
				</div>
				<button type="button" class="btn btn-primary btn-sm" id="addFormRef">{{ 'btn.add.refterm'|trans }}</button>
			</div>
		</div>
	</div>
</div>
<hr class="divider">
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<div class="form-horizontal" id="form_illust">
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-2">{{ 'text.yougo.illust_filename'|trans }}</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" name="illust_filename" value="{{ yougo.illustFilename }}">
							</div>
							<label class="col-sm-2">{{ 'text.yougo.illust_caption'|trans }}</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" name="illust_caption" value="{{ yougo.illustCaption }}">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-2">{{ 'text.yougo.illust_kana'|trans }}</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" name="illust_kana" value="{{ yougo.illustKana }}">
							</div>
							<label class="col-sm-2">{{ 'text.yougo.illust_nombre'|trans }}</label>
							<label class="col-sm-1">{{ yougo.illustNombre }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="divider">
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<div class="form-horizontal" id="form_handover">
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-sm-1">{{ 'text.yougo.handover'|trans }}</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="handover" name="handover">{{ yougo.handover }}</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>