{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block contents %}
<div class="row">
<blockquote class="blockquote-bottom pdr-0">
	<p>{{ 'text.master.curriculum'|trans }}</p>
</blockquote>
</div>

<div class="row">
	<div class="col-lg-2">
		{#{ return_msg }#}
	</div>
	<div class="col-lg-10">
		<div class="pull-right">
			<button class="btn btn-primary btn-lg js-cur-new">{{ '教科の'~'btn.new.default'|trans }}</button>
		</div>
	</div>
</div>

<!-- 3教科ずつ横に並べる -->
{% set cur_rec = [] %}
{% set cur_rec_bundle = [] %}
{% set cur_cnt = 0 %}
{% for cur_elem in cur_list %}
	{% set cur_rec = cur_rec|merge([cur_elem]) %}
	{% set cur_cnt = cur_cnt + 1 %}
	{% if cur_cnt > 2 %}
		{% set cur_rec_bundle = cur_rec_bundle|merge([cur_rec]) %}
		{% set cur_rec = [] %}
		{% set cur_cnt = 0 %}
	{% endif %}
{% endfor %}

{% if cur_cnt > 0 %}
	{% set cur_rec_bundle = cur_rec_bundle|merge([cur_rec]) %}
{% endif %}

{% dump(cur_rec_bundle) %}

{% for cur_list in cur_rec_bundle %}
<div class="row">
	{% for cur_elem in cur_list %}
	<div class="col-lg-4">
		<table class="table table-responsive table-striped">
			<thead>
				<tr>
					<th width="90px" class="text-left">{{ cur_elem.name }}</th>
				</tr>
			</thead>
			<tbody>
			{% for ver_elem in ver_list %}
				{% if cur_elem.id == ver_elem.curriculumId %}
				<tr class="text-center">
					<td class="text-left">{{ ver_elem.name }}</td>
					<td>
						<div class="form-inline">
							<a href="{{ path('client.master.cur.delete', {'id': ver_elem.id}) }}"><button class="btn btn-danger btn-sm button_yougo_list" name="id" onClick="return checkDelete(this.form)">{{ 'btn.delete'|trans }}</button></a>
						</div>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>

<div class="row">
	{% for cur_elem in cur_list %}
	<div class="col-lg-4">
		<table class="table table-responsive table-striped">
			<tbody>
			<tr class="text-center">
				<td>
					<div class="form-inline">
						<!-- <button class="btn btn-primary btn-sm button_yougo_list js-curriculum-target" curriculum-key = "{{ cur_elem.id }}" data-toggle="modal" master-target="#curriculumModal">{{ cur_elem.name~'btn.duplication'|trans }}</button> -->
						<button class="btn btn-primary btn-sm button_yougo_list js-curexport-target" curriculum-key = "{{ cur_elem.id }}" curriculum-year = "{{ cur_elem.year }}" data-toggle="modal" master-target="#curexportModal">{{ cur_elem.name~'btn.duplication'|trans }}</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>
{% endfor %}

<div class="modal-footer">
	<div class="text-center">
		<a href="{{ path('client.master.index') }}"><div class="btn btn-default" name="back">{{ 'btn.back'|trans }}</div></a>
	</div>
</div>

<!-- 教科マスタ新規登録  -->
<div class="modal fade" id="curNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog cur-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				教科マスタの新規登録
			</div>
			<div class="modal-body">
				<div class="row master-update-row">
					<div class="col-sm-12">
						<label class="col-sm-3">{{ 'text.yougo.curriculum'|trans }}</label>
						<div class="col-sm-4">
							<span id="curriculum_n-err" class="curriculum-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="curriculum_n" name="curriculum_n" >
						</div>
					</div>
				</div>
				<div class="row master-update-row">
					<div class="col-sm-12">
						<label class="col-sm-3">{{ 'text.yougo.version'|trans }}</label>
						<div class="col-sm-4">
							<span id="version_n-err" class="version-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="version_n" name="version_n" >
						</div>
					</div>
				</div>
				<div class="row master-update-row">
					<div class="col-sm-12">
						<label class="col-sm-3">{{ 'text.curriculum.startyear'|trans }}</label>
						<div class="col-sm-4">
							<span id="startyear_n-err" class="startyear-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="startyear_n" name="startyear_n">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<div class="text-center">
						<button type="button" class="btn btn-default js-cur-cancel" data-dismiss="modal">{{ 'btn.no'|trans }}</button>
						<button type="button" class="btn btn-danger js-cur-new-submit">{{ 'btn.yes'|trans }}</button>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="curriculumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog header-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				教科・版の複製
			</div>
			<div class="modal-body">
				<div class="row master-update-row">
					<div class="col-sm-12">
						<label class="col-sm-4">{{ 'text.curriculum.name'|trans }}</label>
						<div class="col-sm-6">
							<span id="name-err" class="name-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="cur_name" name="cur_name" >
						</div>
					</div>
					<div class="col-sm-12">
						<label class="col-sm-4">{{ 'text.curriculum.startyear'|trans }}</label>
						<div class="col-sm-6">
							<span id="startyear-err" class="startyear-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="startyear" name="startyear" value="{{ 'now'|date('Y')-10 }}">
						</div>
					</div>
				</div>

				<div class="row master-update-row">
				<form action="{{ path('client.master.duplicate.ajax') }}" method="POST" class="duplicate-frm" id="duplicate-form">
					<div class="col-sm-12">
						<label class="col-sm-4">{{ 'text.curriculum.name'|trans }}</label>
						<div class="col-sm-6">
							<span id="name-err" class="name-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="cur_name_ajx" name="cur_name_ajx" >
						</div>
					</div>
					<div class="col-sm-12">
						<label class="col-sm-4">{{ 'text.curriculum.startyear'|trans }}</label>
						<div class="col-sm-6">
							<span id="startyear-err" class="startyear-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="startyear_ajx" name="startyear_ajx" value="{{ 'now'|date('Y')-10 }}">
						</div>
					</div>
				</form>
					<div class="col-lg-10 js-duplicated"></div>
				</div>

			</div>
			<div class="modal-footer">
					<div class="text-center">
						<button type="button" class="btn btn-default js-curriculum-cancel" data-dismiss="modal">{{ 'btn.no'|trans }}</button>
						<button type="button" class="btn btn-danger js-curriculum-submit">{{ 'btn.yes'|trans }}</button>
						<button type="button" class="btn btn-danger" onclick="cur_duplicate()">{{ 'btn.yes'|trans }}(ajax)</button>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="curexportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog header-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				教科・版のエクスポート
			</div>
			<div class="modal-body">
				<div class="row master-update-row">
					<div class="col-sm-12">
						<label class="col-sm-4">{{ 'text.curriculum.name'|trans }}</label>
						<div class="col-sm-6">
							<span id="name-err" class="name-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="cur_name_exp" name="cur_name" >
						</div>
					</div>
					<div class="col-sm-12">
						<label class="col-sm-4">{{ 'text.curriculum.startyear'|trans }}</label>
						<div class="col-sm-6">
							<span id="startyear-err" class="startyear-err wine-red msgErr"></span>
							<input type="text" class="form-control col-sm-3" id="startyear_exp" name="startyear">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<div class="text-center">
						<button type="button" class="btn btn-default js-curriculum-cancel" data-dismiss="modal">{{ 'btn.no'|trans }}</button>
						<button type="button" class="btn btn-danger js-curexport-submit">{{ 'btn.yes'|trans }}</button>
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/cckcommon/jquery-ui/jquery-ui.min.js') }}"></script>
	<script>
		// キャンセル
		$('.js-cur-cancel').bind('click', function(e){
			$('#curriculum_n').val('');
			$('#version_n').val('');
			$('#startyear_n').val('');

			$('.curriculum-err').text('');
			$('.version-err').text('');
			$('.startyear-err').text('');
		});

		// ユーザマスタ新規登録
		$('.js-cur-new').bind('click', function(){
			$('#curNewModal').modal();
		});

		$('.js-curriculum-cancel').bind('click', function(){
			$('.startyear-err').text('');
		});

		var cur_id;
		$(".js-curriculum-target").bind('click', function(e){
			// get target
			var target = $(e.currentTarget);

			cur_id = target.attr('curriculum-key');

			$('#curriculumModal').modal();

		});

		// 教科マスタ 新規登録
		$('.js-cur-new-submit').bind('click', function(e){

			var cur_name = $('#curriculum_n').val();
			var ver_name = $('#version_n').val();
			var start_year = $('#startyear_n').val();

			if(cur_name == ''){
				$('.curriculum-err').text('必須項目です');
				return false;
			}

			if(ver_name == ''){
				$('.version-err').text('必須項目です');
				return false;
			}

			if(start_year == ''){
				$('.startyear-err').text('必須項目です');
				return false;
			}

			if(start_year.length != 4){
				$('.startyear-err').text('開始年は4桁で入力してください');
				return false;
			}

			var str_html = '';
			str_html = "<input type='hidden' name='cur_name' value=\"" + cur_name.replace(/"/i, "&quot;") + "\">" +
			"<input type='hidden' name='ver_name' value=\"" + ver_name.replace(/"/i, "&quot;") + "\">" +
			"<input type='hidden' name='start_year' value=\"" + start_year.replace(/"/i, "&quot;") + "\">";

			// create form
			$('<form>', {
				"id": "registerCurForm",
				"html": str_html,
				"action": "{{ path('client.master.cur.new') }}",
				"method": "POST"
			}).appendTo(document.body).submit();
		});

		$('.js-curriculum-submit').bind('click', function(e){
			var cur_name = $('#cur_name').val();
			var startyear = $('#startyear').val();

			if(startyear.length != 4){
				$('.startyear-err').text('開始年は4桁で入力してください');
				return false;
			}

			var str_html = '';
			str_html = "<input type='hidden' name='cur_name' value=\"" + cur_name.replace(/"/i, "&quot;") + "\">"+
						"<input type='hidden' name='startyear' value='" + startyear + "'>";

			if(cur_id !== void 0){
				// create form
				$('<form>', {
					"id": "duplicateCurriculumForm",
					"html": "<input type='hidden' name='id' value='" + cur_id + "'>" + str_html,
					"action": "{{ path('client.master.cur.duplication') }}",
					"method": "POST"
				}).appendTo(document.body).submit();
			}
		});

		/*SQLデータエクスポート*/
		$(".js-curexport-target").bind('click', function(e){
			// get target
			var target = $(e.currentTarget);

			cur_id = target.attr('curriculum-key');
			var cur_year = target.attr('curriculum-year');

			$('#startyear_exp').val(cur_year);

			$('#curexportModal').modal();

		});

		$('.js-curexport-submit').bind('click', function(e){
			var cur_name = $('#cur_name_exp').val();
			var startyear = $('#startyear_exp').val();

			if(startyear.length != 4){
				$('.startyear-err').text('開始年は4桁で入力してください');
				return false;
			}

			var str_html = '';
			str_html = "<input type='hidden' name='cur_name' value=\"" + cur_name.replace(/"/i, "&quot;") + "\">"+
						"<input type='hidden' name='startyear' value='" + startyear + "'>";

			if(cur_id !== void 0){
				// create form
				$('<form>', {
					"id": "duplicateCurriculumForm",
					"html": "<input type='hidden' name='id' value='" + cur_id + "'>" + str_html,
					"action": "{{ path('client.master.cur.download') }}",
					"method": "POST"
				}).appendTo(document.body).submit();
			}
		});
		/*SQLデータエクスポート*/

		function checkDelete(form){
			if(window.confirm('教科データを削除します。よろしいですか。')){
				return true;
			}else{
				return false;
			}
		}

		// 教科データの複製
		function cur_duplicate(){
			var form = $('.duplicate-frm');
			var action = form.attr('action');
			var method = form.attr('method');

			// フォームデータを取得
			//var formdata = new FormData($('#duplicate-form').get(0));
			var formdata = {
					'id': cur_id,
					'cur_name': $('#cur_name_ajx').val(),
					'startyear': $('#startyear_ajx').val(),
			};

			// POSTで送信
			/*$.ajax({
				url  : action,
				type : method,
				data : formdata,
				cache       : false,
				contentType : false,
				processData : false,
				dataType    : "html"
			})
			.done(function(data, textStatus, jqXHR){
				$('.js-duplicated').empty().append(JSON.parse(data).status);
				if(JSON.parse(data).status == "取り込みエラーがあります。"){
					alert("err");
				}else{
					alert("OK");
				}
			})
			.fail(function(jqXHR, textStatus, errorThrown){
				$('.js-duplicated').empty().append('error');
			});*/
			$.ajax({
				url: "{{ path('client.master.duplicate.ajax') }}",
				data: formdata,
				method: 'POST',
				success: function (response) {
				},
				error: function (response) {
					console.log(response);
				}
			})
			.done(function(data, textStatus, jqXHR){
				$('.js-duplicated').empty().append(data.status);
				if(data.status == "取り込みエラーがあります。"){
					alert("err");
				}else{
					alert("OK");
				}
			})
			.fail(function(jqXHR, textStatus, errorThrown){
				$('.js-duplicated').empty().append('error');
			});
		}

		$(function(){
		});
	</script>
{% endblock %}

